.sk{
  &-header{
    &-link, &-logo{
      margin: 0 10px;
      font-size: 12px;
      img {
        height: 32px;
      }
    }

    &.active{
      .sk-header{
        &-link, &-logo{
          margin: 0 10px;
          font-size: 12px;
          img {
            height: 32px;
          }
        }
      }
    }
  }

  &-footer{
    &-bottom{
      span{
        margin: 0 10px;
        &:nth-child(1){
          width: 66px;
          height: 20px;
        }
        &:nth-child(2){
          width: 70px;
          height: 20px;
        }
        &:nth-child(3){
          width: 90px;
          height: 20px;
        }
      }
    }
  }
//HOME//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  &-home{
    &-x1-title+.typed-cursor, &-x1-title {
      font-size: 15px;
      line-height: 16px;
    }
    &-x1{
      height: 540px;
      padding-top: 180px;
      &-subTitle {
        font-size: 16px;
      }
      &-clients-item {
        img{
          height: 35px;
        }
      }
      &-btn{
        span{
          font-size: 12px;
        }
        img{
          height: 20px;
          margin-right: 10px;
        }
      }
    }

    &-x2{
      &-title {
        font-size: 20px;
        line-height: 30px;
      }
      &-platforms-item {
        width: 100%;
      }
    }

    &-x3 .bx-wrapper {
      max-width: 260px !important;
      h2{
        font-size: 16px;
      }
      .slide {
        text-align: center;
        width: 130px !important;
        margin: 0 !important;
      }
    }

    &-x4{
      .bx-wrapper .slide .text{
        h2, h3, p {
          margin: 10px auto;
        }
      }
    }

    &-x5-blog-item {
      width: 280px;
      figcaption h3 {
        margin: 25px 0 5px;
      }
    }
  }
//SUPPORT///////////////////////////////////////////////////////////////////////////////////////////////////////////////
  &-support{
    &-x1{
      h2 {
        color: #fff;
        font-size: 35px;
        margin-bottom: 14px;
        font-weight: 400;
      }
      h3 {
        font-size: 20px;
      }
    }

    &-x2-tabs-tab {
      width: 50%;
      border: 1px solid #EBEBEB;
    }
  }
//BLOG//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  &-blog{
    &-x1{
      .bx-wrapper .slider3 .slide .text h2 {
        font-size: 25px;
        line-height: 30px;
      }
    }

    &-x2-item{
      &-left{
        img {
          margin: 0 20px 0 26%;
          width: 40px;
          height: 40px;
        }
        h2,h3{
          margin-top: 3px;
        }
      }
      &-right h2 {
        font-size: 22px;
        line-height: 25px;
      }
    }

    &-x3{
      &-title {
        font-size: 26px;
      }
      &-form {
        width: 300px;
      }
    }

    &-post-x3-item-text {
      width: 100%;
    }
  }
//SUCCESS///////////////////////////////////////////////////////////////////////////////////////////////////////////////
  &-success{
    &-x1-img{
      width: 100%;
    }
  }
}





