.sk{
  &-header{
    &-link, &-logo {
      margin: 0 12px;
    }
  }
//HOME//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  &-home{
    &-x1-title+.typed-cursor, &-x1-title {
      font-size: 24px;
      line-height: 30px;
    }
    &-x1{
      &-subTitle {
        font-size: 20px;
      }
      &-clients-item {
        img{
          height: 35px;
        }
      }
    }
    &-x2{
      &-platforms-item {
        width: 50%;
        padding: 15px 15px;
      }
    }
    &-x3 .bx-wrapper {
      max-width: 400px !important;
      .slide {
        margin: 0 21px!important;
      }
    }
    &-x4 .bx-wrapper .slide .text{
      p,h2,h3{
      }
      p {
        font-size: 18px;
        line-height: 22px;
      }
    }
  }
//ABOUT/////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  &-about{
    &-x4{
      &-left, &-right {
        width: 100%;
      }
      &-right{
        .sk-about-x1-subTitle {
          text-align: center;
          margin: 40px 0 0;
        }
        .sk-about-x1-title{
          text-align: center;
        }
      }
    }

    &-x6 {
      margin: 40px auto;
      font-size: 0;
      .sk-about-x4-left{
        text-align: center;
        h1 {
          font-size: 30px;
          margin-bottom: 20px;
        }
        h2 {
          font-size: 18px;
        }
        h3 {
          font-size: 20px;
          margin-bottom: 20px;
        }
      }
    }
  }
//SUPPORT///////////////////////////////////////////////////////////////////////////////////////////////////////////////
  &-support{
    &-x2-tabs{
      text-align: center;
      &-tab {
        width: 33.333%;
        margin: 0;
        &:nth-child(4){
          border-left: 1px solid #EBEBEB;
        }
      }

      &-content{
        margin: 40px 0;
        &-item {
          width: 100%;
          margin-bottom: 30px;
          padding: 0;
          h2{
            margin-bottom: 5px;
          }
        }
      }
    }
  }
//BLOG//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  &-blog{
    &-x1{
      .bx-wrapper .slider3 .slide .text h2 {
        font-size: 40px;
        line-height: 40px;
      }
    }

    &-x2{
      width: 100%;
      &-item{
        &-left{
          width: 100%;
          img {
            float: left;
            margin: 0 20px 0 36%;
          }
          h2,h3{
            text-align: left;
            margin-top: 10px;
          }
        }
        &-right {
          width: 100%;
          text-align: center;
          margin: 40px 0 0;
          h2{
            font-size: 27px;
            line-height: 25px;
          }
        }
      }
    }

    &-post{
      &-x2-text {
        width: 100%;
      }
      &-x4-item {
        width: 100%;
        h3{
          font-size: 20px;
        }
      }
    }
  }
}
