.sk{
  &-wrap{
    width: 100%;
    padding: 0 10px;
  }
  &-footer-item {
    margin: 30px 0 0;
    width: 100%;
    text-align: center;
    &:nth-child(2) {
      width: 100%;
      border: 1px solid transparent;
    }

    &-link:nth-child(even), &-link:nth-child(odd) {
      min-width: 49%;
    }
  }
  &-header-link {
    margin: 0 25px;
  }
//HOME//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  &-home{
    &-x1-title, &-title+.typed-cursor {
      font-size: 43px;
      line-height: 52px;
    }

    &-x2-platforms-item button {
      color: #494949;
      border: 1px solid #5397FA;
      background: #fff;
      padding: 15px 20px;
    }

    &-x3 .bx-wrapper{
      max-width: 700px !important;
      .slide{
        margin: 0 68px!important;
      }
    }

    &-x4{
      .bx-wrapper .slide {
        .sk-about-x5-item-box, img {
          margin: 0;
        }
        .text{
          width: 100%;
          h2, h3, p {
            text-align: center;
            margin: 10px auto;
          }
        }
      }
    }

    &-x5-blog-item {
      margin: 30px 10px;
    }
  }
//PRICING///////////////////////////////////////////////////////////////////////////////////////////////////////////////
  &-pricing{
    &-x1{
      text-align: center;
      &-item{
        width: 305px;
        margin: 30px 0;
        &-row{
          text-align: left;
          h2 {
            font-size: 16px;
            text-align: left;
            span{
              font-size: 19px;
            }
          }
        }
      }
    }
  }
//ABOUT/////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  &-about{
    &-x4{
      margin: 50px 0;
      &-left-num {
        font-size: 140px;
        line-height: 110px;
      }
    }
    &-x5{
      margin: 50px 0;
    }
  }
//SUPPORT///////////////////////////////////////////////////////////////////////////////////////////////////////////////
  &-support-x2-tabs-tab {
    font-size: 14px;
  }
//BLOG//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  &-blog{
    &-post-x3-item {
      width: 100%;
      text-align: center;
      margin: 20px 0;
      a{
        margin: 0 5px;
      }
      &-img {
        display: block;
        margin: 0 auto 20px;
      }
      &:nth-child(2){
        text-align: center;
      }
    }
  }
}





