<section class="sk-blog">
    <div ng-include="'views/particles/header.html'"></div>

    <div class="sk-blog-x1">
        <ul class="slider3">
            <li class="slide">
                <div class="text">
                    <h3>new features</h3>
                    <h2>How To Protect Your <br> Computer Wery Useful Tips</h2>
                    <button>read more</button>
                </div>
                <img src="http://loremflickr.com/1920/800/girl/all" alt="">
            </li>
            <li class="slide">
                <div class="text">
                    <h3>new features</h3>
                    <h2>How To Protect Your <br> Computer Wery Useful Tips</h2>
                    <button>read more</button>
                </div>
                <img src="http://loremflickr.com/1920/800/girl/all" alt="">
            </li>
            <li class="slide">
                <div class="text">
                    <h3>new features</h3>
                    <h2>How To Protect Your <br> Computer Wery Useful Tips</h2>
                    <button>read more</button>
                </div>
                <img src="http://loremflickr.com/1920/800/girl/all" alt="">
            </li>
        </ul>
        <script>
            $(document).ready(function(){
                $('.slider3').bxSlider({
                    infiniteLoop: false,
                    controls: false,
                    hideControlOnEnd: true
                });
            });
        </script>
    </div>

    <div class="sk-blog-x2">
        <div class="sk-blog-x2-item">
            <div class="sk-blog-x2-item-left">
                <img src="http://loremflickr.com/50/50/girl/all" alt="">
                <h2>Vasiliy Pupkin</h2>
                <h3>4 days ago</h3>
            </div>
            <div class="sk-blog-x2-item-right">
                <h3>new feature</h3>
                <h2>Build The Layout From The Base?</h2>
                <p>Lorem ipsum dolor sit amet, Aliquam enim impedit nobis nulla quibusdam repellat tempore vitae. Accusantium esse fugit inventore laudantium minima nemo nobis, odio possimus praesentium quam quia quis saepe unde vero voluptatem voluptatum.</p>
                <a href="#/blog/1">Read More...</a>
            </div>
        </div>
        <div class="sk-blog-x2-item">
            <div class="sk-blog-x2-item-left">
                <img src="http://loremflickr.com/50/50/girl/all" alt="">
                <h2>Vasiliy Pupkin</h2>
                <h3>4 days ago</h3>
            </div>
            <div class="sk-blog-x2-item-right">
                <h3>new feature</h3>
                <h2>Build The Layout From The Base?</h2>
                <img src="http://loremflickr.com/600/200/girl/all" alt="">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus error illo minima rem saepe sunt temporibus voluptates. Aliquam enim impedit nobis nulla quibusdam repellat tempore vitae. Accusantium esse fugit inventore laudantium minima nemo nobis, odio possimus praesentium quam quia quis saepe unde vero voluptatem voluptatum.</p>
                <a href="#/blog/2">Read More...</a>
            </div>
        </div>
        <div class="sk-blog-x2-item">
            <div class="sk-blog-x2-item-left">
                <img src="http://loremflickr.com/50/50/girl/all" alt="">
                <h2>Vasiliy Pupkin</h2>
                <h3>4 days ago</h3>
            </div>
            <div class="sk-blog-x2-item-right">
                <h3>new feature</h3>
                <h2>Build The Layout From The Base?</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus error illo minima rem saepe sunt temporibus voluptates. Aliquam enim impedit nobis nulla quibusdam repellat tempore vitae. Accusantium esse fugit inventore laudantium minima nemo nobis, odio possimus praesentium quam quia quis saepe unde vero voluptatem voluptatum.</p>
                <a href="#/blog/3">Read More...</a>
            </div>
        </div>

        <div class="tac">
            <div class="sk-blog-x2-pager">
                <a href="#" class="active">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">Next</a>
            </div>
        </div>
    </div>

    <div class="sk-blog-x3">
        <div class="sk-wrap">
            <div class="sk-blog-x3-title">Get new post, resource etc vax vax vax</div>
            <form class="sk-blog-x3-form">
                <input type="text" placeholder="Enter your email address to subscribe">
                <button type="submit"><img src="i/plain.jpg" alt=""></button>
            </form>
        </div>
    </div>


    <div ng-include="'views/particles/footer.html'"></div>
</section>
