<section class="sk-home">
    <div class="starter"><div ng-include="'views/particles/header.html'"></div></div>

    <div class="sk-home-x1 starter">
        <div class="sk-home-x1-down" scroll-to-anchor="x2"></div>
       <div class="sk-wrap">
           <b class="sk-home-x1-title starter">@Skylar, </b>
           <typedjs class="sk-home-x1-title starter" strings="typedString"></typedjs>
           <div class="sk-home-x1-subTitle starter">
               Skylar is a virtual employee on your enterprise & social messaging platform
           </div>
           <button class="sk-home-x1-btn starter"><img src="i/platform/slack_icon.png" alt=""> <span>Get Started</span></button>
       </div>

        <div class="sk-home-x1-clients" scroll-header>
            <div class="sk-wrap">
                <div class="sk-home-x1-clients-item"><img src="i/home/1.jpg" alt=""></div>
                <div class="sk-home-x1-clients-item"><img src="i/home/2.jpg" alt=""></div>
                <div class="sk-home-x1-clients-item"><img src="i/home/5.jpg" alt=""></div>
                <div class="sk-home-x1-clients-item"><img src="i/home/6.jpg" alt=""></div>
            </div>
        </div>
    </div>

    <div id="x2" class="sk-home-x2 starter sk-wrap">
        <div class="sk-home-x2-title">
            Skylar works on platforms you love and use daily
        </div>

        <div class="sk-home-x2-platforms fl-wrap-between">
            <div class="sk-home-x2-platforms-item">
                <img src="i/platform/slack_icon@2x.png" alt="">
                <h2>Slack</h2>
                <button>Add to Slack</button>
            </div>
            <div class="sk-home-x2-platforms-item">
                <img src="i/platform/networks_fb@2x.png" alt="">
                <h2>Messenger</h2>
                <button>Request Access</button>
            </div>
            <div class="sk-home-x2-platforms-item">
                <img src="i/platform/hipchat_icon@2x.png" alt="">
                <h2>HipChat</h2>
                <button>Request Access</button>
            </div>
            <div class="sk-home-x2-platforms-item">
                <img src="i/platform/telegram_icon@2x.png" alt="">
                <h2>Telegram</h2>
                <button>Request Access</button>
            </div>
        </div>
    </div>

    <div class="sk-deliver sk-wrap"></div>

    <div class="sk-wrap tac">
        <typedjs strings="typedSecond"></typedjs>
    </div>

    <div class="sk-home-x3 sk-wrap fl-wrap-between">
        <div class="sk-home-x3-modal" ng-class="{'active': openModal == 1}"><i class="fa fa-times sk-home-x3-modal-close" ng-click="openModal = 0"></i><iframe width="560" height="315" src="https://www.youtube.com/embed/Fc5txyhRl0Q" frameborder="0" allowfullscreen></iframe></div>
        <div class="sk-home-x3-modal" ng-class="{'active': openModal == 2}"><i class="fa fa-times sk-home-x3-modal-close" ng-click="openModal = 0"></i><iframe width="560" height="315" src="https://www.youtube.com/embed/nKFDp9Y52-o" frameborder="0" allowfullscreen></iframe></div>
        <div class="sk-home-x3-modal" ng-class="{'active': openModal == 3}"><i class="fa fa-times sk-home-x3-modal-close" ng-click="openModal = 0"></i><iframe width="560" height="315" src="https://www.youtube.com/embed/nKFDp9Y52-o" frameborder="0" allowfullscreen></iframe></div>
        <div class="sk-home-x3-modal" ng-class="{'active': openModal == 4}"><i class="fa fa-times sk-home-x3-modal-close" ng-click="openModal = 0"></i><iframe width="560" height="315" src="https://www.youtube.com/embed/Fc5txyhRl0Q" frameborder="0" allowfullscreen></iframe></div>

        <div class="sk-home-x3-item">
            <button class="sk-home-x3-item-btn" ng-init="openModal = 0" ng-click="openModal = 1">dome</button>
            <div class="sk-home-x3-item-sTitle">Lorem ipsum.</div>
            <div class="sk-home-x3-item-title">Lorem ipsum dolor.</div>
            <div class="sk-home-x3-item-text"><b>Lorem ipsum dolor sit amet, consectetur</b> adipisicing elit. Aperiam delectus eius fugit id natus odit perspiciatis repellat similique vero voluptate.</div>
        </div>
        <div class="sk-home-x3-item">
            <button class="sk-home-x3-item-btn" ng-click="openModal = 2">dome</button>
            <div class="sk-home-x3-item-sTitle">Lorem ipsum.</div>
            <div class="sk-home-x3-item-title">Lorem ipsum dolor.</div>
            <div class="sk-home-x3-item-text"><b>Lorem ipsum dolor sit amet, consectetur</b> adipisicing elit. Aperiam delectus eius fugit id natus odit perspiciatis repellat similique vero voluptate.</div>
        </div>
        <div class="sk-home-x3-item">
            <button class="sk-home-x3-item-btn" ng-click="openModal = 3">dome</button>
            <div class="sk-home-x3-item-sTitle">Lorem ipsum.</div>
            <div class="sk-home-x3-item-title">Lorem ipsum dolor.</div>
            <div class="sk-home-x3-item-text"><b>Lorem ipsum dolor sit amet, consectetur</b> adipisicing elit. Aperiam delectus eius fugit id natus odit perspiciatis repellat similique vero voluptate.</div>
        </div>
        <div class="sk-home-x3-item">
            <button class="sk-home-x3-item-btn" ng-click="openModal = 4">dome</button>
            <div class="sk-home-x3-item-sTitle">Lorem ipsum.</div>
            <div class="sk-home-x3-item-title">Lorem ipsum dolor.</div>
            <div class="sk-home-x3-item-text"><b>Lorem ipsum dolor sit amet, consectetur</b> adipisicing elit. Aperiam delectus eius fugit id natus odit perspiciatis repellat similique vero voluptate.</div>
        </div>
    </div>

    <div class="sk-home-x4">
        <div class="sk-wrap">
            <ul class="slider2">
                <li class="slide">
                    <div class="sk-about-x5-item-box"></div>
                    <div class="text">
                        <p>
                            Lorem ipsum dolor sit excepturi expedita inventore iure molestias nihil quod saepe similique sint tempore totam voluptas voluptates, voluptatibus voluptatum.
                        </p>
                        <h2>Sarah Wong</h2>
                        <h3>UI Designer</h3>
                    </div>
                </li>
                <li class="slide">
                    <div class="sk-about-x5-item-box"></div>
                    <div class="text">
                        <p>
                            Lorem ipsum dolor sit excepturi expedita inventore iure molestias nihil quod saepe similique sint tempore totam voluptas voluptates, voluptatibus voluptatum.
                        </p>
                        <h2>Sarah Wong</h2>
                        <h3>UI Designer</h3>
                    </div>
                </li>
                <li class="slide">
                    <div class="sk-about-x5-item-box"></div>
                    <div class="text">
                        <p>
                            Lorem ipsum dolor sit excepturi expedita inventore iure molestias nihil quod saepe similique sint tempore totam voluptas voluptates, voluptatibus voluptatum.
                        </p>
                        <h2>Sarah Wong</h2>
                        <h3>UI Designer</h3>
                    </div>
                </li>
            </ul>
            <script>
                $(document).ready(function(){
                    $('.slider2').bxSlider({
                        autoHover: true,
                        controls: false,
                        hideControlOnEnd: true,
                        auto: true
                    });
                });
            </script>
        </div>
    </div>

    <div class="sk-home-x5 sk-wrap">
        <div class="sk-home-x2-title">Latest form Skylar Blog</div>

        <div class="sk-home-x5-blog">
            <figure class="sk-home-x5-blog-item" ng-repeat="i in [0,1,2]">
                <img src="http://loremflickr.com/350/200/" alt="" />
                <figcaption>
                    <h3>category</h3>
                    <h2>Title Goes Here</h2>
                    <button>Read More</button>
                </figcaption>
            </figure>
        </div>
    </div>

    <div class="sk-home-x6">
        <div class="sk-home-x2-title">Talk to your slack. <br> Lorem ipsum dolor sit amet</div>
        <button class="sk-home-x5-btn"><img src="i/platform/slack_icon.png" alt=""> <span>add to slack</span></button>
    </div>

    <div ng-include="'views/particles/footer.html'"></div>
</section>
