<section class="sk-pricing">
    <div ng-include="'views/particles/header.html'"></div>

    <div class="sk-support-x1">
        <h2>Here's The Pricing</h2>
        <h3>Simple & perfect for your business.</h3>
    </div>

    <div class="sk-pricing-x1 sk-wrap">
        <div class="sk-pricing-x1-item">
            <img class="sk-pricing-x1-item-img" src="i/pricing/smallprice.png" alt="">
            <h2 class="sk-pricing-x1-item-title">small</h2>
            <div class="sk-pricing-x1-item-price">
                <sup>$</sup>
                <b>0</b>/mo
            </div>
            <div class="sk-pricing-x1-item-row">
                <h2>request <span>100<b>/day</b></span></h2>
                <h3>(Ask, Shopping, search, In-slack mail <br> Forward, file upload to dropbox)</h3>
            </div>
            <div class="sk-pricing-x1-item-row">
                <h2>team member <span>Unlimited</span></h2>
            </div>
            <div class="sk-pricing-x1-item-row">
                <h2>api acces <span>Limited</span></h2>
            </div>
            <div class="sk-pricing-x1-item-row">
                <h2>expense report <span>5 <b>/month</b></span></h2>
            </div>
            <div class="sk-pricing-x1-item-row">
                <h4>1 Service Plugun (e.g Product Hunt feed, <br> Srackowerflow, GAnalytics & Stock Alern)</h4>
            </div>
            <button class="sk-pricing-x1-item-btn">call to action</button>
        </div>
        <div class="sk-pricing-x1-item">
            <img class="sk-pricing-x1-item-img" src="i/pricing/teamprice.png" alt="">
            <h2 class="sk-pricing-x1-item-title">team</h2>
            <div class="sk-pricing-x1-item-price">
                <sup>$</sup>
                <b>5</b>/mo
            </div>
            <div class="sk-pricing-x1-item-row">
                <h2>request <span>1000<b>/day</b></span></h2>
                <h3>(Ask, Shopping, search, In-slack mail <br> Forward, file upload to dropbox)</h3>
            </div>
            <div class="sk-pricing-x1-item-row">
                <h2>team member <span>Unlimited</span></h2>
            </div>
            <div class="sk-pricing-x1-item-row">
                <h2>api acces <span>Unlimited</span></h2>
            </div>
            <div class="sk-pricing-x1-item-row">
                <h2>expense report <span>Unlimited</span></h2>
            </div>
            <div class="sk-pricing-x1-item-row">
                <h4>1 Service Plugun (e.g Product Hunt feed, <br> Srackowerflow, GAnalytics & Stock Alern)</h4>
            </div>
            <button class="sk-pricing-x1-item-btn">call to action</button>
        </div>
        <div class="sk-pricing-x1-item">
            <img class="sk-pricing-x1-item-img" src="i/pricing/corporateprice.png" alt="">
            <h2 class="sk-pricing-x1-item-title">corporate</h2>
            <div class="sk-pricing-x1-item-price">
                <sup>$</sup>
                <b>15</b>/mo
            </div>
            <div class="sk-pricing-x1-item-row">
                <h2>request <span>Unlimited</span></h2>
                <h3>(Ask, Shopping, search, In-slack mail <br> Forward, file upload to dropbox)</h3>
            </div>
            <div class="sk-pricing-x1-item-row">
                <h2>team member <span>Unlimited</span></h2>
            </div>
            <div class="sk-pricing-x1-item-row">
                <h2>api acces <span>Train & Customize</span></h2>
            </div>
            <div class="sk-pricing-x1-item-row">
                <h2>expense report <span>Unlimited</span></h2>
            </div>
            <div class="sk-pricing-x1-item-row">
                <h4>1 Service Plugun (e.g Product Hunt feed, <br> Srackowerflow, GAnalytics & Stock Alern)</h4>
            </div>
            <button class="sk-pricing-x1-item-btn">call to action</button>
        </div>
    </div> 

    <div class="sk-deliver"></div>

    <div class="sk-home-x6">
        <div class="sk-home-x2-title">Talk to your slack. <br> Lorem ipsum dolor sit amet</div>
        <button class="sk-home-x5-btn"><img src="i/platform/slack_icon.png" alt=""> <span>add to slack</span></button>
    </div>

    <div ng-include="'views/particles/footer.html'"></div>
</section>
