<section class="sk-success">
    <div ng-include="'views/particles/header.html'"></div>

    <div class="sk-success-x1">
        <img src="i/success/connected.png" class="sk-success-x1-img"/>
        <div class="sk-success-x1-title">You've succesfully installed skylar</div>
        <button class="sk-pricing-x1-item-btn sk-pricing-x1-item-btn_w220">open slack</button>
    </div>

    <div ng-include="'views/particles/footer.html'"></div>
</section>
