@font-face {
  font-family: 'Colfax';
  src: url(../../fonts/Colfax-Regular.eot);
  src: url(../../fonts/Colfax-Regular.eot?#iefix) format("embedded-opentype"), url(../../fonts/Colfax-Regular.woff) format("woff"), url(../../fonts/Colfax-Regular.ttf) format("truetype"), url(../../fonts/Colfax-Regular.svg#svgFontName) format("svg");
  font-weight: 400; }

@font-face {
  font-family: 'Colfax';
  src: url(../../fonts/Colfax-Medium.eot);
  src: url(../../fonts/Colfax-Medium.eot?#iefix) format("embedded-opentype"), url(../../fonts/Colfax-Medium.woff) format("woff"), url(../../fonts/Colfax-Medium.ttf) format("truetype"), url(../../fonts/Colfax-Medium.svg#svgFontName) format("svg");
  font-weight: 500; }

@font-face {
  font-family: 'Colfax';
  src: url(../../fonts/Colfax-Bold.eot);
  src: url(../../fonts/Colfax-Bold.eot?#iefix) format("embedded-opentype"), url(../../fonts/Colfax-Bold.woff) format("woff"), url(../../fonts/Colfax-Bold.ttf) format("truetype"), url(../../fonts/Colfax-Bold.svg#svgFontName) format("svg");
  font-weight: 700; }

.fl-wrap-between {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.fl-wrap-around {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.fl-wrap-cen {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.fl-wrap-cen-cen {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.fl-wrap-cen-baseline {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline; }

.fl-wrap-cen-between {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.fl-wrap-cen-around {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.fl-column-start {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }

.fl-column-end {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }

.fl-column-cen {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }

.fl-column-between {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }

.fl-column-around {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }

.fl-order1 {
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1; }

.fl-order2 {
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2; }

.fl-order3 {
  -webkit-order: 3;
  -ms-flex-order: 3;
  order: 3; }

.fl-order4 {
  -webkit-order: 4;
  -ms-flex-order: 4;
  order: 4; }

.fl-order5 {
  -webkit-order: 5;
  -ms-flex-order: 5;
  order: 5; }

.fl-order6 {
  -webkit-order: 6;
  -ms-flex-order: 6;
  order: 6; }

.fl-order7 {
  -webkit-order: 7;
  -ms-flex-order: 7;
  order: 7; }

.fl-order8 {
  -webkit-order: 8;
  -ms-flex-order: 8;
  order: 8; }

.fl-order9 {
  -webkit-order: 9;
  -ms-flex-order: 9;
  order: 9; }

.fl-order10 {
  -webkit-order: 10;
  -ms-flex-order: 10;
  order: 10; }

.fl-flex1 {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.fl-flex2 {
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2; }

.fl-flex3 {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3; }

.fl-flex4 {
  -webkit-flex: 4;
  -ms-flex: 4;
  flex: 4; }

.fl-flex5 {
  -webkit-flex: 5;
  -ms-flex: 5;
  flex: 5; }

.fl-flex6 {
  -webkit-flex: 6;
  -ms-flex: 6;
  flex: 6; }

.fl-flex7 {
  -webkit-flex: 7;
  -ms-flex: 7;
  flex: 7; }

.fl-flex8 {
  -webkit-flex: 8;
  -ms-flex: 8;
  flex: 8; }

.fl-flex9 {
  -webkit-flex: 9;
  -ms-flex: 9;
  flex: 9; }

.fl-flex10 {
  -webkit-flex: 10;
  -ms-flex: 10;
  flex: 10; }

.vh {
  visibility: hidden; }

.ovh {
  overflow: hidden; }

.tal {
  text-align: left; }

.tac {
  text-align: center; }

.tar {
  text-align: right; }

.db {
  display: block; }

.di {
  display: inline; }

.dib {
  display: inline-block; }

.dibT, .sk-footer-item, .sk-footer-item-link, .sk-footer_v2-item, .sk-footer_v2-item-link, .sk-home-x4 .bx-wrapper .slide .sk-about-x5-item-box, .sk-home-x4 .bx-wrapper .slide img, .sk-home-x4 .bx-wrapper .slide .text, .sk-home-x5-blog-item, .sk-blog-x2-pager a, .sk-blog-post-x3-item-img, .sk-blog-post-x3-item-text, .sk-support-x2-tabs-tab, .sk-support-x2-tabs-content-item, .sk-pricing-x1-item, .sk-about-x3-job, .sk-about-x5-item {
  display: inline-block;
  vertical-align: top; }

.dibM, .sk-header-link, .sk-header-logo, .sk-footer-item_last .sk-footer-item-social i, .sk-footer-bottom span, .sk-home-x1-btn img, .sk-home-x1-btn span, .sk-home-x1-clients-item, .sk-home-x3-item, .sk-home-x5-btn img, .sk-home-x5-btn span, .sk-blog-x2-item-left, .sk-blog-x2-item-right, .sk-blog-post-x3-item, .sk-blog-post-x4-item, .sk-about-x4-left, .sk-about-x4-right {
  display: inline-block;
  vertical-align: middle; }

.dibB {
  display: inline-block;
  vertical-align: bottom; }

.no-mar {
  margin: 0; }

.no-pad {
  padding: 0; }

.lowercase {
  text-transform: lowercase; }

.uppercase {
  text-transform: uppercase; }

.text-bold {
  font-weight: bold; }

.text-normal {
  font-weight: normal; }

.pad5 {
  padding: 5px; }

.pad10 {
  padding: 10px; }

.pad15 {
  padding: 15px; }

.pad20 {
  padding: 20px; }

.pad25 {
  padding: 25px; }

.pad30 {
  padding: 30px; }

.pad35 {
  padding: 35px; }

.pad40 {
  padding: 40px; }

.pad45 {
  padding: 45px; }

.pad50 {
  padding: 50px; }

.pad55 {
  padding: 55px; }

.pad60 {
  padding: 60px; }

.pad65 {
  padding: 65px; }

.pad70 {
  padding: 70px; }

.pad75 {
  padding: 75px; }

.pad80 {
  padding: 80px; }

.pad85 {
  padding: 85px; }

.pad90 {
  padding: 90px; }

.pad95 {
  padding: 95px; }

.pad100 {
  padding: 100px; }

.pad-l5 {
  padding-left: 5px; }

.pad-ll0 {
  padding-left: 10px; }

.pad-l15 {
  padding-left: 15px; }

.pad-l20 {
  padding-left: 20px; }

.pad-l25 {
  padding-left: 25px; }

.pad-l30 {
  padding-left: 30px; }

.pad-l35 {
  padding-left: 35px; }

.pad-l40 {
  padding-left: 40px; }

.pad-l45 {
  padding-left: 45px; }

.pad-l50 {
  padding-left: 50px; }

.pad-l55 {
  padding-left: 55px; }

.pad-l60 {
  padding-left: 60px; }

.pad-l65 {
  padding-left: 65px; }

.pad-l70 {
  padding-left: 70px; }

.pad-l75 {
  padding-left: 75px; }

.pad-l80 {
  padding-left: 80px; }

.pad-l85 {
  padding-left: 85px; }

.pad-l90 {
  padding-left: 90px; }

.pad-l95 {
  padding-left: 95px; }

.pad-l100 {
  padding-left: 100px; }

.pad-r5 {
  padding-right: 5px; }

.pad-rl0 {
  padding-right: 10px; }

.pad-r15 {
  padding-right: 15px; }

.pad-r20 {
  padding-right: 20px; }

.pad-r25 {
  padding-right: 25px; }

.pad-r30 {
  padding-right: 30px; }

.pad-r35 {
  padding-right: 35px; }

.pad-r40 {
  padding-right: 40px; }

.pad-r45 {
  padding-right: 45px; }

.pad-r50 {
  padding-right: 50px; }

.pad-r55 {
  padding-right: 55px; }

.pad-r60 {
  padding-right: 60px; }

.pad-r65 {
  padding-right: 65px; }

.pad-r70 {
  padding-right: 70px; }

.pad-r75 {
  padding-right: 75px; }

.pad-r80 {
  padding-right: 80px; }

.pad-r85 {
  padding-right: 85px; }

.pad-r90 {
  padding-right: 90px; }

.pad-r95 {
  padding-right: 95px; }

.pad-r100 {
  padding-right: 100px; }

.pad-t5 {
  padding-top: 5px; }

.pad-tl0 {
  padding-top: 10px; }

.pad-t15 {
  padding-top: 15px; }

.pad-t20 {
  padding-top: 20px; }

.pad-t25 {
  padding-top: 25px; }

.pad-t30 {
  padding-top: 30px; }

.pad-t35 {
  padding-top: 35px; }

.pad-t40 {
  padding-top: 40px; }

.pad-t45 {
  padding-top: 45px; }

.pad-t50 {
  padding-top: 50px; }

.pad-t55 {
  padding-top: 55px; }

.pad-t60 {
  padding-top: 60px; }

.pad-t65 {
  padding-top: 65px; }

.pad-t70 {
  padding-top: 70px; }

.pad-t75 {
  padding-top: 75px; }

.pad-t80 {
  padding-top: 80px; }

.pad-t85 {
  padding-top: 85px; }

.pad-t90 {
  padding-top: 90px; }

.pad-t95 {
  padding-top: 95px; }

.pad-t100 {
  padding-top: 100px; }

.pad-b5 {
  padding-bottom: 5px; }

.pad-bl0 {
  padding-bottom: 10px; }

.pad-b15 {
  padding-bottom: 15px; }

.pad-b20 {
  padding-bottom: 20px; }

.pad-b25 {
  padding-bottom: 25px; }

.pad-b30 {
  padding-bottom: 30px; }

.pad-b35 {
  padding-bottom: 35px; }

.pad-b40 {
  padding-bottom: 40px; }

.pad-b45 {
  padding-bottom: 45px; }

.pad-b50 {
  padding-bottom: 50px; }

.pad-b55 {
  padding-bottom: 55px; }

.pad-b60 {
  padding-bottom: 60px; }

.pad-b65 {
  padding-bottom: 65px; }

.pad-b70 {
  padding-bottom: 70px; }

.pad-b75 {
  padding-bottom: 75px; }

.pad-b80 {
  padding-bottom: 80px; }

.pad-b85 {
  padding-bottom: 85px; }

.pad-b90 {
  padding-bottom: 90px; }

.pad-b95 {
  padding-bottom: 95px; }

.pad-b100 {
  padding-bottom: 100px; }

.pad-v5 {
  padding: 5px 0; }

.pad-vl0 {
  padding: 10px 0; }

.pad-v15 {
  padding: 15px 0; }

.pad-v20 {
  padding: 20px 0; }

.pad-v25 {
  padding: 25px 0; }

.pad-v30 {
  padding: 30px 0; }

.pad-v35 {
  padding: 35px 0; }

.pad-v40 {
  padding: 40px 0; }

.pad-v45 {
  padding: 45px 0; }

.pad-v50 {
  padding: 50px 0; }

.pad-v55 {
  padding: 55px 0; }

.pad-v60 {
  padding: 60px 0; }

.pad-v65 {
  padding: 65px 0; }

.pad-v70 {
  padding: 70px 0; }

.pad-v75 {
  padding: 75px 0; }

.pad-v80 {
  padding: 80px 0; }

.pad-v85 {
  padding: 85px 0; }

.pad-v90 {
  padding: 90px 0; }

.pad-v95 {
  padding: 95px 0; }

.pad-v100 {
  padding: 100px 0; }

.pad-h5 {
  padding: 0 5px; }

.pad-hl0 {
  padding: 0 10px; }

.pad-h15 {
  padding: 0 15px; }

.pad-h20 {
  padding: 0 20px; }

.pad-h25 {
  padding: 0 25px; }

.pad-h30 {
  padding: 0 30px; }

.pad-h35 {
  padding: 0 35px; }

.pad-h40 {
  padding: 0 40px; }

.pad-h45 {
  padding: 0 45px; }

.pad-h50 {
  padding: 0 50px; }

.pad-h55 {
  padding: 0 55px; }

.pad-h60 {
  padding: 0 60px; }

.pad-h65 {
  padding: 0 65px; }

.pad-h70 {
  padding: 0 70px; }

.pad-h75 {
  padding: 0 75px; }

.pad-h80 {
  padding: 0 80px; }

.pad-h85 {
  padding: 0 85px; }

.pad-h90 {
  padding: 0 90px; }

.pad-h95 {
  padding: 0 95px; }

.pad-h100 {
  padding: 0 100px; }

.mar5 {
  margin: 5px; }

.mar10 {
  margin: 10px; }

.mar15 {
  margin: 15px; }

.mar20 {
  margin: 20px; }

.mar25 {
  margin: 25px; }

.mar30 {
  margin: 30px; }

.mar35 {
  margin: 35px; }

.mar40 {
  margin: 40px; }

.mar45 {
  margin: 45px; }

.mar50 {
  margin: 50px; }

.mar55 {
  margin: 55px; }

.mar60 {
  margin: 60px; }

.mar65 {
  margin: 65px; }

.mar70 {
  margin: 70px; }

.mar75 {
  margin: 75px; }

.mar80 {
  margin: 80px; }

.mar85 {
  margin: 85px; }

.mar90 {
  margin: 90px; }

.mar95 {
  margin: 95px; }

.mar100 {
  margin: 100px; }

.mar-l5 {
  margin-left: 5px; }

.mar-ll0 {
  margin-left: 10px; }

.mar-l15 {
  margin-left: 15px; }

.mar-l20 {
  margin-left: 20px; }

.mar-l25 {
  margin-left: 25px; }

.mar-l30 {
  margin-left: 30px; }

.mar-l35 {
  margin-left: 35px; }

.mar-l40 {
  margin-left: 40px; }

.mar-l45 {
  margin-left: 45px; }

.mar-l50 {
  margin-left: 50px; }

.mar-l55 {
  margin-left: 55px; }

.mar-l60 {
  margin-left: 60px; }

.mar-l65 {
  margin-left: 65px; }

.mar-l70 {
  margin-left: 70px; }

.mar-l75 {
  margin-left: 75px; }

.mar-l80 {
  margin-left: 80px; }

.mar-l85 {
  margin-left: 85px; }

.mar-l90 {
  margin-left: 90px; }

.mar-l95 {
  margin-left: 95px; }

.mar-l100 {
  margin-left: 100px; }

.mar-r5 {
  margin-right: 5px; }

.mar-rl0 {
  margin-right: 10px; }

.mar-r15 {
  margin-right: 15px; }

.mar-r20 {
  margin-right: 20px; }

.mar-r25 {
  margin-right: 25px; }

.mar-r30 {
  margin-right: 30px; }

.mar-r35 {
  margin-right: 35px; }

.mar-r40 {
  margin-right: 40px; }

.mar-r45 {
  margin-right: 45px; }

.mar-r50 {
  margin-right: 50px; }

.mar-r55 {
  margin-right: 55px; }

.mar-r60 {
  margin-right: 60px; }

.mar-r65 {
  margin-right: 65px; }

.mar-r70 {
  margin-right: 70px; }

.mar-r75 {
  margin-right: 75px; }

.mar-r80 {
  margin-right: 80px; }

.mar-r85 {
  margin-right: 85px; }

.mar-r90 {
  margin-right: 90px; }

.mar-r95 {
  margin-right: 95px; }

.mar-r100 {
  margin-right: 100px; }

.mar-t5 {
  margin-top: 5px; }

.mar-tl0 {
  margin-top: 10px; }

.mar-t15 {
  margin-top: 15px; }

.mar-t20 {
  margin-top: 20px; }

.mar-t25 {
  margin-top: 25px; }

.mar-t30 {
  margin-top: 30px; }

.mar-t35 {
  margin-top: 35px; }

.mar-t40 {
  margin-top: 40px; }

.mar-t45 {
  margin-top: 45px; }

.mar-t50 {
  margin-top: 50px; }

.mar-t55 {
  margin-top: 55px; }

.mar-t60 {
  margin-top: 60px; }

.mar-t65 {
  margin-top: 65px; }

.mar-t70 {
  margin-top: 70px; }

.mar-t75 {
  margin-top: 75px; }

.mar-t80 {
  margin-top: 80px; }

.mar-t85 {
  margin-top: 85px; }

.mar-t90 {
  margin-top: 90px; }

.mar-t95 {
  margin-top: 95px; }

.mar-t100 {
  margin-top: 100px; }

.mar-b5 {
  margin-bottom: 5px; }

.mar-bl0 {
  margin-bottom: 10px; }

.mar-b15 {
  margin-bottom: 15px; }

.mar-b20 {
  margin-bottom: 20px; }

.mar-b25 {
  margin-bottom: 25px; }

.mar-b30 {
  margin-bottom: 30px; }

.mar-b35 {
  margin-bottom: 35px; }

.mar-b40 {
  margin-bottom: 40px; }

.mar-b45 {
  margin-bottom: 45px; }

.mar-b50 {
  margin-bottom: 50px; }

.mar-b55 {
  margin-bottom: 55px; }

.mar-b60 {
  margin-bottom: 60px; }

.mar-b65 {
  margin-bottom: 65px; }

.mar-b70 {
  margin-bottom: 70px; }

.mar-b75 {
  margin-bottom: 75px; }

.mar-b80 {
  margin-bottom: 80px; }

.mar-b85 {
  margin-bottom: 85px; }

.mar-b90 {
  margin-bottom: 90px; }

.mar-b95 {
  margin-bottom: 95px; }

.mar-b100 {
  margin-bottom: 100px; }

.mar-v5 {
  margin: 5px 0; }

.mar-vl0 {
  margin: 10px 0; }

.mar-v15 {
  margin: 15px 0; }

.mar-v20 {
  margin: 20px 0; }

.mar-v25 {
  margin: 25px 0; }

.mar-v30 {
  margin: 30px 0; }

.mar-v35 {
  margin: 35px 0; }

.mar-v40 {
  margin: 40px 0; }

.mar-v45 {
  margin: 45px 0; }

.mar-v50 {
  margin: 50px 0; }

.mar-v55 {
  margin: 55px 0; }

.mar-v60 {
  margin: 60px 0; }

.mar-v65 {
  margin: 65px 0; }

.mar-v70 {
  margin: 70px 0; }

.mar-v75 {
  margin: 75px 0; }

.mar-v80 {
  margin: 80px 0; }

.mar-v85 {
  margin: 85px 0; }

.mar-v90 {
  margin: 90px 0; }

.mar-v95 {
  margin: 95px 0; }

.mar-v100 {
  margin: 100px 0; }

.mar-h5 {
  margin: 0 5px; }

.mar-hl0 {
  margin: 0 10px; }

.mar-h15 {
  margin: 0 15px; }

.mar-h20 {
  margin: 0 20px; }

.mar-h25 {
  margin: 0 25px; }

.mar-h30 {
  margin: 0 30px; }

.mar-h35 {
  margin: 0 35px; }

.mar-h40 {
  margin: 0 40px; }

.mar-h45 {
  margin: 0 45px; }

.mar-h50 {
  margin: 0 50px; }

.mar-h55 {
  margin: 0 55px; }

.mar-h60 {
  margin: 0 60px; }

.mar-h65 {
  margin: 0 65px; }

.mar-h70 {
  margin: 0 70px; }

.mar-h75 {
  margin: 0 75px; }

.mar-h80 {
  margin: 0 80px; }

.mar-h85 {
  margin: 0 85px; }

.mar-h90 {
  margin: 0 90px; }

.mar-h95 {
  margin: 0 95px; }

.mar-h100 {
  margin: 0 100px; }

html, body {
  min-width: 320px;
  height: 100%;
  font-family: 'Colfax';
  font-weight: 400;
  color: #494949;
  font-size: 16px;
  -webkit-font-smoothing: antialiased; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 200ms ease; }
  *:hover, *:focus, *:active {
    outline: none !important; }

.bx-wrapper .bx-prev, .bx-wrapper .bx-next {
  background: none;
  position: relative;
  border-radius: 50%;
  border: 1px solid #969696; }
  .bx-wrapper .bx-prev:after, .bx-wrapper .bx-next:after {
    content: '';
    position: absolute;
    left: 12px;
    top: 9px;
    width: 10px;
    height: 10px;
    border: 1px solid #969696;
    border-right: 0;
    border-top: 0;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg); }

.bx-wrapper .bx-next:after {
  left: 8px;
  -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
          transform: rotate(-135deg); }

.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite; }

@-webkit-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.starter .sk-header {
  opacity: 0; }

.sk-wrap {
  position: relative;
  width: 1130px;
  margin: 0 auto; }

.sk-deliver {
  width: 100%;
  height: 1px;
  background: #eee; }

.sk-top {
  position: fixed;
  z-index: 100;
  right: 0;
  bottom: 0;
  color: #000;
  background: 0 0;
  border: none;
  cursor: pointer;
  padding: 20px;
  transition: all 200ms ease; }
  .sk-top span {
    display: block;
    font-weight: 700;
    font-size: 16px;
    line-height: 11px;
    text-shadow: 2px 2px 0 #fff; }
  .sk-top:hover {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2); }
  .sk-top:active {
    -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
            transform: scale(0.5); }

.sk-header {
  padding-top: 25px;
  text-align: center;
  position: fixed;
  z-index: 100;
  left: 0;
  right: 0;
  top: 0;
  opacity: 1;
  transition: all 1000ms ease; }
  .sk-header-link, .sk-header-logo {
    text-decoration: none; }
  .sk-header-logo {
    margin: 0 100px; }
    .sk-header-logo img {
      height: 67px; }
  .sk-header-link {
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    margin: 0 50px; }
  .sk-header.active {
    padding: 10px 0;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2); }
    .sk-header.active .sk-header-logo {
      margin: 0 50px; }
      .sk-header.active .sk-header-logo img {
        height: 40px; }
    .sk-header.active .sk-header-link {
      font-size: 14px;
      color: #494949; }

.sk-footer {
  background: url(../../i/footerBg.png) 0 0 repeat;
  padding: 50px 0 0;
  font-size: 0;
  position: relative; }
  .sk-footer:after {
    content: '';
    position: absolute;
    z-index: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(7, 13, 18, 0.5); }
  .sk-footer-item {
    width: 32%;
    font-size: 16px;
    position: relative;
    z-index: 1; }
    .sk-footer-item:nth-child(2) {
      width: 36%;
      text-align: center;
      border: 1px solid white;
      border-bottom: 0;
      border-top: 0;
      padding: 0 25px; }
    .sk-footer-item-title {
      text-transform: uppercase;
      font-size: 14px;
      margin-bottom: 10px;
      color: #5B5C5D; }
    .sk-footer-item-subTitle {
      color: #fff;
      font-size: 18px;
      line-height: 23px;
      margin: 20px 0 30px; }
    .sk-footer-item-link {
      color: white;
      margin: 0 0 12px;
      text-decoration: none; }
      .sk-footer-item-link:nth-child(even) {
        min-width: 25%; }
      .sk-footer-item-link:nth-child(odd) {
        min-width: 65%; }
      .sk-footer-item-link:hover {
        opacity: .6; }
      .sk-footer-item-link:active {
        opacity: 1; }
    .sk-footer-item-form {
      position: relative; }
      .sk-footer-item-form input {
        width: 100%;
        height: 50px;
        border-radius: 5px;
        padding: 0 60px 0 10px;
        border: none;
        font-size: 16px; }
      .sk-footer-item-form button {
        border: 0;
        background: #4B90E0;
        position: absolute;
        right: 5px;
        top: 5px;
        height: 40px;
        line-height: 38px;
        padding: 0 20px;
        color: #fff;
        border-radius: 5px;
        cursor: pointer; }
        .sk-footer-item-form button:hover {
          opacity: .6; }
        .sk-footer-item-form button:active {
          opacity: 1;
          -webkit-transform: scale(0.9);
              -ms-transform: scale(0.9);
                  transform: scale(0.9); }
    .sk-footer-item_last {
      text-align: right; }
      .sk-footer-item_last h2 {
        color: white;
        font-size: 23px;
        font-weight: normal;
        margin-bottom: 10px; }
      .sk-footer-item_last h3 {
        text-transform: uppercase;
        font-size: 14px;
        margin-bottom: 10px;
        color: #070C11; }
      .sk-footer-item_last .sk-footer-item-social i {
        margin: 0 10px 13px;
        font-size: 20px;
        color: white; }
        .sk-footer-item_last .sk-footer-item-social i:hover {
          opacity: .6; }
        .sk-footer-item_last .sk-footer-item-social i:active {
          opacity: 1;
          -webkit-transform: scale(0.9);
              -ms-transform: scale(0.9);
                  transform: scale(0.9); }
  .sk-footer-bottom {
    position: relative;
    z-index: 1;
    margin-top: 30px;
    background: #0E1B24;
    width: 100%;
    padding: 10px;
    text-align: center; }
    .sk-footer-bottom span {
      margin: 0 9px;
      background-size: cover !important; }
      .sk-footer-bottom span:nth-child(1) {
        background: url(../../i/3_logos_footer/1.png) 0 0 no-repeat, #0E1B24;
        width: 80px;
        height: 25px; }
      .sk-footer-bottom span:nth-child(2) {
        background: url(../../i/3_logos_footer/2.png) 0 0 no-repeat, #0E1B24;
        width: 91px;
        height: 25px; }
      .sk-footer-bottom span:nth-child(3) {
        background: url(../../i/3_logos_footer/3.png) 0 0 no-repeat, #0E1B24;
        width: 114px;
        height: 25px; }
  .sk-footer_v2 {
    background: #282828;
    padding: 50px 0 40px;
    font-size: 0; }
    .sk-footer_v2-item {
      width: 45%; }
      .sk-footer_v2-item:nth-child(2) {
        text-align: center;
        width: 10%; }
        .sk-footer_v2-item:nth-child(2) span {
          display: block;
          color: white;
          font-size: 22px;
          margin-top: 6px; }
      .sk-footer_v2-item-link {
        width: 50%;
        text-align: center;
        font-size: 17px;
        text-transform: uppercase;
        color: #fff;
        text-decoration: none;
        margin-top: 11px; }

.sk-home-x1 {
  background: url(../../i/social_media/illustrtae@2x.png) 0 0 no-repeat, radial-gradient(circle farthest-corner at right bottom, #0971ce 0%, #0862a5 28%, #10283f 79%, #0e1c2c 100%);
  background-size: cover;
  padding-top: 205px;
  text-align: center;
  height: 690px;
  position: relative;
  transition: all 1000ms ease; }
  .sk-home-x1-down {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 40px;
    margin: 0 auto;
    width: 40px;
    height: 40px;
    border: 1px solid white;
    border-top: inherit;
    border-right: inherit;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    cursor: pointer; }
  .sk-home-x1.starter {
    background: none; }
  .sk-home-x1-title {
    font-size: 50px;
    letter-spacing: 2px;
    line-height: 67px;
    margin-bottom: 25px;
    color: white;
    display: inline;
    transition: all 0s ease; }
    .sk-home-x1-title b {
      transition: all 0s ease; }
    .sk-home-x1-title + .typed-cursor {
      font-size: 50px;
      line-height: 67px; }
    .sk-home-x1-title.starter {
      color: #494949; }
  .sk-home-x1-subTitle {
    font-size: 23px;
    margin: 20px 0 50px;
    letter-spacing: -1px;
    color: white;
    opacity: 1;
    transition: all 1000ms ease; }
    .sk-home-x1-subTitle.starter {
      opacity: 0; }
  .sk-home-x1-btn {
    background: #fff;
    border: 2px solid #C1DFF4;
    border-radius: 25px;
    padding: 0 40px;
    height: 50px;
    cursor: pointer;
    opacity: 1;
    transition: all 1000ms ease; }
    .sk-home-x1-btn img {
      height: 38px;
      margin-right: 22px; }
    .sk-home-x1-btn span {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 16px;
      color: #494949; }
    .sk-home-x1-btn:hover {
      opacity: .6; }
    .sk-home-x1-btn:active {
      opacity: 1;
      -webkit-transform: scale(0.9);
          -ms-transform: scale(0.9);
              transform: scale(0.9); }
    .sk-home-x1-btn.starter {
      opacity: 0; }
  .sk-home-x1-clients {
    background: #FCFCFC;
    font-size: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 19px 0;
    opacity: 0;
    -webkit-transform: translateY(500px);
        -ms-transform: translateY(500px);
            transform: translateY(500px);
    transition: all 1000ms ease; }
    .sk-home-x1-clients-item {
      width: 25%; }
    .sk-home-x1-clients.active {
      opacity: 1;
      -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
              transform: translateY(0); }

.sk-home-x2 {
  padding-bottom: 85px;
  opacity: 1;
  transition: all 1000ms ease; }
  .sk-home-x2.starter {
    margin-top: 265px; }
  .sk-home-x2-title {
    margin: 50px auto 50px;
    font-size: 23px;
    line-height: 41px;
    text-align: center;
    color: #4c5869;
    font-weight: 300; }
  .sk-home-x2-platforms {
    font-size: 0; }
    .sk-home-x2-platforms-item {
      font-size: 16px;
      width: 25%;
      text-align: center;
      padding: 0 15px; }
      .sk-home-x2-platforms-item img {
        margin-bottom: 13px;
        height: 60px; }
      .sk-home-x2-platforms-item h2 {
        font-size: 23px;
        font-weight: normal;
        margin-bottom: 13px;
        color: #494949; }
      .sk-home-x2-platforms-item p {
        font-size: 16px;
        line-height: 20px;
        color: #494949;
        min-height: 105px; }
      .sk-home-x2-platforms-item button {
        color: #494949;
        border: 1px solid #5397FA;
        background: #fff;
        padding: 15px 35px;
        font-weight: bold;
        font-size: 13px;
        cursor: pointer; }
        .sk-home-x2-platforms-item button:hover {
          opacity: .6; }
        .sk-home-x2-platforms-item button:active {
          opacity: 1;
          -webkit-transform: scale(0.9);
              -ms-transform: scale(0.9);
                  transform: scale(0.9); }

.sk-home-x3 {
  margin: 50px 0;
  font-size: 0;
  position: relative; }
  .sk-home-x3-modal {
    position: absolute;
    z-index: -10;
    opacity: 0;
    visibility: hidden;
    left: 0;
    right: 0;
    top: 0;
    width: 560px;
    margin: 0 auto;
    text-align: center;
    transition: all 200ms linear; }
    .sk-home-x3-modal.active {
      z-index: 50;
      opacity: 1;
      visibility: visible; }
    .sk-home-x3-modal-close {
      position: absolute;
      right: -20px;
      top: -20px;
      font-size: 20px;
      color: #000;
      cursor: pointer; }
  .sk-home-x3-item {
    font-size: inherit;
    width: 49%;
    margin-bottom: 20px;
    position: relative;
    border: 5px solid #F8BE86;
    padding: 20px;
    color: #1526E1; }
    .sk-home-x3-item:hover {
      border-color: #1526E1; }
    .sk-home-x3-item-btn {
      position: absolute;
      background: white;
      right: 20px;
      top: 20px;
      border: 2px solid #BAC4F5;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      text-align: center;
      line-height: 70px;
      text-transform: uppercase;
      font-size: 16px;
      transition: all 200ms linear;
      cursor: pointer; }
      .sk-home-x3-item-btn:before {
        content: '';
        position: absolute;
        z-index: 1;
        left: 6px;
        right: 0;
        top: 0;
        bottom: 0;
        width: 0;
        height: 0;
        margin: auto;
        border-left: 23px solid #BAC4F5;
        border-top: 18px solid transparent;
        border-bottom: 18px solid transparent;
        opacity: 0;
        transition: all 200ms linear; }
      .sk-home-x3-item-btn:after {
        content: '';
        position: absolute;
        left: 6px;
        right: 0;
        top: 0;
        bottom: 0;
        width: 0;
        height: 0;
        margin: auto;
        border-left: 25px solid #1526E1;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        opacity: 0;
        transition: all 200ms linear; }
      .sk-home-x3-item-btn:hover {
        border-color: #1526E1;
        background: #BAC4F5;
        color: #BAC4F5; }
        .sk-home-x3-item-btn:hover:after, .sk-home-x3-item-btn:hover:before {
          opacity: 1; }
    .sk-home-x3-item-sTitle {
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 500; }
    .sk-home-x3-item-title {
      font-size: 30px;
      font-weight: 100;
      margin: 15px 0; }
    .sk-home-x3-item-text {
      font-size: 16px;
      line-height: 22px;
      font-weight: 100; }

.sk-home-x4 {
  background: #f3f5f7;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 85px 0 100px; }
  .sk-home-x4 .bx-wrapper {
    box-shadow: none;
    border: none;
    background: none;
    margin: 0 auto; }
    .sk-home-x4 .bx-wrapper .bx-pager {
      bottom: -35px; }
      .sk-home-x4 .bx-wrapper .bx-pager.bx-default-pager a {
        width: 17px;
        height: 17px;
        margin: 0 11px;
        border-radius: 15px;
        background: white;
        border: 1px solid #969696; }
        .sk-home-x4 .bx-wrapper .bx-pager.bx-default-pager a.active {
          background: #D7D7D7; }
    .sk-home-x4 .bx-wrapper .slide {
      text-align: center; }
      .sk-home-x4 .bx-wrapper .slide .sk-about-x5-item-box, .sk-home-x4 .bx-wrapper .slide img {
        margin: 0 85px 0 0; }
      .sk-home-x4 .bx-wrapper .slide .text {
        text-align: left;
        width: 635px; }
        .sk-home-x4 .bx-wrapper .slide .text p {
          font-size: 24px;
          color: #9A9A9A;
          margin: 25px 0 12px;
          line-height: 30px;
          text-align: justify; }
        .sk-home-x4 .bx-wrapper .slide .text h2 {
          font-size: 22px;
          color: #494949; }
        .sk-home-x4 .bx-wrapper .slide .text h3 {
          font-weight: 400;
          font-size: 16px;
          color: #9A9A9A;
          margin: 5px 0 0; }

.sk-home-x5 {
  text-align: center;
  padding-bottom: 40px; }
  .sk-home-x5-blog {
    padding: 10px 0 40px; }
    .sk-home-x5-blog-item {
      position: relative;
      width: 350px;
      margin: 0 10px;
      overflow: hidden;
      box-shadow: 0 0 20px -5px #000000; }
      .sk-home-x5-blog-item img {
        transition: all 500ms ease;
        width: 100%;
        vertical-align: middle; }
      .sk-home-x5-blog-item figcaption {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        color: white; }
        .sk-home-x5-blog-item figcaption h3 {
          font-weight: 400;
          font-size: 18px;
          text-transform: uppercase;
          margin: 45px 0 5px; }
        .sk-home-x5-blog-item figcaption h2 {
          font-weight: 400;
          font-size: 28px;
          margin: 0 0 20px; }
        .sk-home-x5-blog-item figcaption button {
          padding: 8px 25px;
          border-radius: 10px;
          background: 0 0;
          border: 1px solid #fff;
          color: #fff;
          cursor: pointer; }
          .sk-home-x5-blog-item figcaption button:hover {
            opacity: .6; }
          .sk-home-x5-blog-item figcaption button:active {
            opacity: 1;
            -webkit-transform: scale(0.9);
                -ms-transform: scale(0.9);
                    transform: scale(0.9); }
      .sk-home-x5-blog-item:hover img {
        opacity: .5;
        -webkit-transform: scale(1.5) rotate(15deg);
            -ms-transform: scale(1.5) rotate(15deg);
                transform: scale(1.5) rotate(15deg); }
  .sk-home-x5-btn {
    color: #494949;
    font-weight: 700;
    font-size: 13px;
    background: #fff;
    border: 2px solid #5397FA;
    border-radius: 2px;
    padding: 0 40px;
    height: 50px;
    cursor: pointer; }
    .sk-home-x5-btn img {
      height: 25px;
      margin-right: 22px; }
    .sk-home-x5-btn span {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 12px;
      color: #494949; }
    .sk-home-x5-btn:hover {
      opacity: .6; }
    .sk-home-x5-btn:active {
      opacity: 1;
      -webkit-transform: scale(0.9);
          -ms-transform: scale(0.9);
              transform: scale(0.9); }

.sk-home-x6 {
  background: #FCF9FA;
  text-align: center;
  padding: 10px 0 50px; }

.sk-blog-x1 .bx-viewport {
  height: 515px !important; }

.sk-blog-x1 .bx-wrapper {
  box-shadow: none;
  border: 0; }
  .sk-blog-x1 .bx-wrapper .bx-pager {
    bottom: 30px; }
    .sk-blog-x1 .bx-wrapper .bx-pager.bx-default-pager a {
      background: transparent;
      border: 1px solid white; }
      .sk-blog-x1 .bx-wrapper .bx-pager.bx-default-pager a.active {
        background: white; }
  .sk-blog-x1 .bx-wrapper .slider3 {
    height: 100%; }
    .sk-blog-x1 .bx-wrapper .slider3 .slide {
      position: relative;
      height: 100%; }
      .sk-blog-x1 .bx-wrapper .slider3 .slide img {
        max-width: inherit;
        height: 100%;
        margin: 0 auto; }
      .sk-blog-x1 .bx-wrapper .slider3 .slide .text {
        padding-top: 162px;
        text-align: center;
        position: absolute;
        left: 0;
        right: 0;
        top: 0; }
        .sk-blog-x1 .bx-wrapper .slider3 .slide .text h3 {
          text-transform: uppercase;
          color: white;
          font-weight: normal;
          font-size: 14px; }
        .sk-blog-x1 .bx-wrapper .slider3 .slide .text h2 {
          color: #fff;
          font-size: 53px;
          line-height: 69px;
          margin: 24px 0; }
        .sk-blog-x1 .bx-wrapper .slider3 .slide .text button {
          text-transform: uppercase;
          border: 0;
          background: #fff;
          color: #494949;
          height: 50px;
          padding: 0 75px;
          font-size: 11px;
          font-weight: 700;
          border-radius: 3px;
          cursor: pointer; }

.sk-blog-x2 {
  width: 640px;
  margin: 0 auto; }
  .sk-blog-x2-item {
    padding: 35px 0;
    font-size: 0;
    border-bottom: 1px solid #eee; }
    .sk-blog-x2-item-left {
      width: 23%;
      font-size: 16px;
      text-align: center; }
      .sk-blog-x2-item-left img {
        width: 60px;
        height: 60px;
        overflow: hidden;
        border-radius: 50%;
        margin-bottom: 20px; }
      .sk-blog-x2-item-left h2 {
        font-size: 14px;
        font-weight: normal;
        color: #494949; }
      .sk-blog-x2-item-left h3 {
        font-size: 14px;
        font-weight: normal;
        color: #494949;
        opacity: .6; }
    .sk-blog-x2-item-right {
      width: 77%;
      font-size: 16px; }
      .sk-blog-x2-item-right h3 {
        font-weight: normal;
        color: #BBEA8D;
        text-transform: uppercase;
        font-size: 13px; }
      .sk-blog-x2-item-right h2 {
        color: #494949;
        font-size: 35px;
        line-height: 45px;
        margin: 10px 0; }
      .sk-blog-x2-item-right img {
        border-radius: 5px;
        overflow: hidden;
        width: 100%;
        margin-bottom: 20px; }
      .sk-blog-x2-item-right p {
        font-size: 14px;
        line-height: 20px;
        color: #494949;
        opacity: .6;
        margin-bottom: 15px; }
      .sk-blog-x2-item-right a {
        font-size: 13px;
        color: #494949;
        text-decoration: none; }
  .sk-blog-x2-pager {
    overflow: hidden;
    border-radius: 3px;
    border: 1px solid #494949;
    font-size: 0;
    display: inline-block;
    margin: 40px 0; }
    .sk-blog-x2-pager a {
      border-left: 1px solid #eee;
      padding: 8px 18px;
      font-size: 14px;
      text-decoration: none;
      text-transform: uppercase;
      background: white;
      color: #494949; }
      .sk-blog-x2-pager a:first-child {
        border: 0; }
      .sk-blog-x2-pager a.active {
        font-weight: bold; }
      .sk-blog-x2-pager a:hover {
        background: #282B30;
        color: white; }

.sk-blog-x3 {
  background: #FAFAFA;
  padding: 80px 0 72px;
  text-align: center; }
  .sk-blog-x3-title {
    font-size: 34px;
    font-weight: 500;
    text-align: center;
    color: #494949;
    margin-bottom: 46px; }
  .sk-blog-x3-form {
    text-align: left;
    position: relative;
    width: 320px;
    margin: 0 auto; }
    .sk-blog-x3-form input {
      border: 1px solid #494949;
      height: 46px;
      width: 100%;
      line-height: 46px;
      padding: 0 50px 0 10px;
      font-size: 16px;
      border-radius: 5px; }
    .sk-blog-x3-form button {
      position: absolute;
      right: 0;
      top: 0;
      border: 0;
      background: 0;
      padding: 10px;
      cursor: pointer; }
      .sk-blog-x3-form button:hover {
        opacity: .6; }
      .sk-blog-x3-form button:active {
        opacity: 1;
        -webkit-transform: scale(0.9);
            -ms-transform: scale(0.9);
                transform: scale(0.9); }

.sk-blog-post-x1 {
  background: url(http://loremflickr.com/50/50/girl/all) 0 center no-repeat;
  background-size: cover;
  padding: 200px 0 130px;
  margin-bottom: 78px;
  text-align: center;
  color: white;
  position: relative; }
  .sk-blog-post-x1 h2 {
    font-size: 52px;
    line-height: 70px;
    margin-bottom: 30px; }
  .sk-blog-post-x1 h3 {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: normal;
    color: #BBEA8D; }
    .sk-blog-post-x1 h3 span {
      color: white; }
  .sk-blog-post-x1-scroll {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    font-size: 12px;
    color: #fff;
    text-decoration: none;
    cursor: pointer; }
    .sk-blog-post-x1-scroll:after {
      content: '';
      display: block;
      margin: 0 auto;
      width: 10px;
      height: 10px;
      border: 1px solid white;
      border-top: 0;
      border-left: 0;
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg);
      transition: all 200ms ease; }

.sk-blog-post-x2-text {
  width: 720px;
  margin: 0 auto 25px;
  font-size: 16px;
  line-height: 22px;
  color: #494949; }

.sk-blog-post-x3 {
  border: 1px solid #eee;
  font-size: 0;
  margin-top: 20px;
  padding: 50px 0; }
  .sk-blog-post-x3-item {
    width: 50%; }
    .sk-blog-post-x3-item-img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      margin-right: 40px;
      overflow: hidden; }
    .sk-blog-post-x3-item-text {
      width: 440px; }
      .sk-blog-post-x3-item-text h2 {
        font-size: 18px;
        margin-bottom: 10px;
        font-weight: normal; }
      .sk-blog-post-x3-item-text p {
        font-size: 16px; }
    .sk-blog-post-x3-item a {
      display: inline-block;
      margin-left: 30px; }
    .sk-blog-post-x3-item:last-child {
      text-align: right; }

.sk-blog-post-x4 {
  border-bottom: 1px solid #eee;
  font-size: 0; }
  .sk-blog-post-x4-item {
    width: 50%;
    font-size: 16px;
    padding: 48px 0; }
    .sk-blog-post-x4-item:nth-child(2) {
      text-align: right;
      border-left: 1px solid #eee; }
    .sk-blog-post-x4-item h2 {
      color: #BBEA8D;
      font-weight: normal;
      font-size: 18px;
      margin-bottom: 3px; }
    .sk-blog-post-x4-item h3 {
      font-weight: normal;
      font-size: 30px;
      color: #494949; }

.sk-support-x1 {
  background: url(../../i/social_media/illustrtae@2x.png) 0 0 no-repeat, radial-gradient(circle farthest-corner at right bottom, #0971ce 0%, #0862a5 28%, #10283f 79%, #0e1c2c 100%);
  background-size: cover;
  padding: 202px 0 100px;
  margin-bottom: 60px;
  text-align: center;
  color: white;
  position: relative; }
  .sk-support-x1 h2 {
    color: white;
    font-size: 50px;
    margin-bottom: 14px;
    font-weight: 400; }
  .sk-support-x1 h3 {
    font-size: 25px;
    color: rgba(255, 255, 255, 0.6);
    font-weight: normal; }

.sk-support-x2 {
  padding-bottom: 23px; }
  .sk-support-x2-title {
    color: #494949;
    text-align: center;
    font-size: 27px;
    line-height: 40px;
    margin-bottom: 53px; }
  .sk-support-x2-tabs {
    font-size: 0; }
    .sk-support-x2-tabs-tab {
      text-align: center;
      width: 20%;
      padding: 18px 0;
      font-size: 20px;
      color: #494949;
      border: 1px solid #EBEBEB;
      border-left: 0;
      cursor: pointer;
      margin-bottom: 50px; }
      .sk-support-x2-tabs-tab:first-child {
        border: 1px solid #EBEBEB; }
      .sk-support-x2-tabs-tab.active {
        background: #EBEBEB; }
    .sk-support-x2-tabs-content {
      font-size: 0; }
      .sk-support-x2-tabs-content-wrap {
        font-size: 16px; }
      .sk-support-x2-tabs-content-item {
        width: 50%;
        font-size: 16px;
        margin-bottom: 20px;
        padding: 0 30px 0 0; }
        .sk-support-x2-tabs-content-item h2 {
          font-size: 24px;
          font-weight: normal;
          color: #494949;
          margin-bottom: 20px; }
        .sk-support-x2-tabs-content-item p {
          font-size: 16px;
          line-height: 21px;
          color: #494949;
          text-align: justify; }

.sk-support-x3 {
  padding: 64px 0; }
  .sk-support-x3-title {
    font-size: 35px;
    line-height: 40px;
    text-align: center;
    margin-bottom: 30px; }
    .sk-support-x3-title b {
      font-weight: 500;
      display: block;
      margin-bottom: 8px; }

.sk-pricing-x1 {
  font-size: 0;
  margin-bottom: 95px; }
  .sk-pricing-x1-item {
    width: 33.3333%;
    font-size: 16px;
    padding: 0 15px; }
    .sk-pricing-x1-item:nth-child(1) .sk-pricing-x1-item-title {
      background: #5397FA; }
    .sk-pricing-x1-item:nth-child(2) .sk-pricing-x1-item-title {
      background: #447DD0; }
    .sk-pricing-x1-item:nth-child(3) .sk-pricing-x1-item-title {
      background: #335FA0; }
    .sk-pricing-x1-item-img {
      display: block;
      margin: 0 auto 43px;
      height: 150px;
      vertical-align: bottom; }
    .sk-pricing-x1-item-title {
      width: 100%;
      height: 60px;
      line-height: 64px;
      text-align: center;
      font-size: 24px;
      color: #fff;
      text-transform: uppercase;
      font-weight: 500;
      margin-bottom: 20px; }
    .sk-pricing-x1-item-price {
      text-align: center;
      font-size: 23px;
      text-transform: uppercase;
      margin-bottom: 20px; }
      .sk-pricing-x1-item-price sup {
        font-size: 23px;
        position: relative;
        top: -8px;
        font-weight: bold;
        color: #494949;
        margin-right: 5px; }
      .sk-pricing-x1-item-price b {
        font-size: 47px; }
    .sk-pricing-x1-item-row {
      border-top: 1px solid #EBEBEB;
      padding: 26px 0; }
      .sk-pricing-x1-item-row:last-child {
        border-bottom: 1px solid #EBEBEB; }
      .sk-pricing-x1-item-row h2 {
        font-size: 18px;
        font-weight: normal;
        text-transform: uppercase; }
        .sk-pricing-x1-item-row h2 span {
          float: right;
          text-transform: initial;
          font-weight: bold;
          font-size: 23px;
          margin-top: -4px; }
          .sk-pricing-x1-item-row h2 span b {
            font-size: 14px;
            font-weight: normal; }
      .sk-pricing-x1-item-row h3 {
        margin-top: 5px;
        text-align: right;
        font-size: 13px;
        font-weight: normal; }
      .sk-pricing-x1-item-row h4 {
        font-weight: normal;
        font-size: 15px; }
    .sk-pricing-x1-item-btn {
      cursor: pointer;
      width: 100%;
      padding: 14px 0;
      text-transform: uppercase;
      font-size: 14px;
      margin-top: 40px;
      border: 2px solid #5397FA;
      border-radius: 6px;
      background: #fff;
      box-shadow: 0 5px 23px -7px #000; }
      .sk-pricing-x1-item-btn:hover {
        opacity: .6; }
      .sk-pricing-x1-item-btn:active {
        box-shadow: none;
        opacity: 1;
        -webkit-transform: scale(0.9);
            -ms-transform: scale(0.9);
                transform: scale(0.9); }
      .sk-pricing-x1-item-btn_w220 {
        width: 220px;
        margin: 0 auto; }

.sk-about {
  background: #F9F9F9; }
  .sk-about-x1 {
    padding-bottom: 120px; }
    .sk-about-x1-subTitle {
      font-size: 25px;
      text-align: center;
      font-weight: normal;
      margin-bottom: 5px;
      color: #9A9A9A; }
    .sk-about-x1-title {
      font-size: 36px;
      text-align: center;
      font-weight: normal; }
    .sk-about-x1-item {
      width: 300px;
      background: white;
      padding: 20px;
      margin: 40px 10px 0; }
      .sk-about-x1-item:nth-child(1) h2 {
        color: #FAECBB;
        border-bottom: 1px solid #FAECBB; }
      .sk-about-x1-item:nth-child(2) h2 {
        color: #CED093;
        border-bottom: 1px solid #CED093; }
      .sk-about-x1-item:nth-child(3) h2 {
        color: #94B9AD;
        border-bottom: 1px solid #94B9AD; }
      .sk-about-x1-item h2 {
        font-size: 20px;
        font-weight: normal;
        text-align: center;
        padding-bottom: 20px;
        margin-bottom: 20px; }
      .sk-about-x1-item p {
        font-size: 16px;
        line-height: 22px;
        color: #282828; }
    .sk-about-x1-text {
      width: 730px;
      margin: 46px auto 0;
      line-height: 20px; }
      .sk-about-x1-text a {
        margin-top: 22px;
        color: #5496E2;
        display: block;
        text-align: center;
        text-decoration: none; }
  .sk-about-x2 {
    font-size: 0;
    overflow: hidden;
    white-space: nowrap; }
  .sk-about-x3 {
    background: #282828;
    font-size: 0;
    padding: 58px 0 64px; }
    .sk-about-x3-title {
      color: #fff;
      font-size: 34px;
      font-weight: 400;
      margin-bottom: 10px; }
    .sk-about-x3-text {
      font-size: 16px;
      font-weight: normal;
      margin-bottom: 25px;
      color: #B6B6B6; }
    .sk-about-x3-link {
      color: white;
      text-decoration: none;
      font-size: 15px;
      margin-bottom: 22px;
      display: inline-block; }
    .sk-about-x3-job {
      width: 50%;
      font-size: 16px;
      color: white; }
      .sk-about-x3-job h2 {
        margin: 64px 0 28px;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 26px; }
      .sk-about-x3-job h3 {
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 5px; }
      .sk-about-x3-job h4 {
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 25px; }
  .sk-about-x4 {
    padding: 110px 0 65px;
    font-size: 0; }
    .sk-about-x4-left {
      width: 34%;
      font-size: 16px; }
      .sk-about-x4-left-num {
        text-align: center;
        font-size: 190px;
        line-height: 190px;
        color: #A1ADBA;
        text-shadow: 10px 24px 44px rgba(0, 0, 0, 0.2);
        font-weight: 700;
        letter-spacing: -10px; }
      .sk-about-x4-left h1 {
        font-size: 34px;
        font-weight: normal;
        margin-bottom: 84px; }
      .sk-about-x4-left h2 {
        font-size: 22px;
        text-transform: uppercase;
        font-weight: normal;
        color: #9A9A9A;
        margin-bottom: 2px; }
      .sk-about-x4-left h3 {
        font-size: 26px;
        font-weight: normal;
        margin-bottom: 46px; }
    .sk-about-x4-right {
      width: 66%;
      position: relative;
      font-size: 16px; }
      .sk-about-x4-right .sk-about-x1-subTitle, .sk-about-x4-right .sk-about-x1-title {
        text-align: left; }
      .sk-about-x4-right .sk-about-x1-subTitle {
        font-size: 22px;
        margin-bottom: 15px; }
      .sk-about-x4-right .sk-about-x1-title {
        margin-bottom: 22px; }
      .sk-about-x4-right p {
        font-size: 16px;
        line-height: 22px;
        text-align: justify;
        color: #9A9A9A;
        margin-bottom: 13px; }
      .sk-about-x4-right #map {
        height: 260px;
        margin-top: 15px; }
      .sk-about-x4-right-title {
        background: #494949;
        color: #fff;
        font-size: 14px;
        line-height: 20px;
        padding: 16px 27px; }
  .sk-about-x5 {
    padding: 82px 0 100px;
    text-align: center; }
    .sk-about-x5-item {
      margin: 60px 8px 0; }
      .sk-about-x5-item-box {
        width: 260px;
        height: 260px;
        border-radius: 5px;
        border: 1px solid #969696;
        background: #D7D7D7;
        margin-bottom: 25px; }
      .sk-about-x5-item .sk-about-x1-title {
        font-size: 30px;
        font-weight: 500; }
      .sk-about-x5-item .sk-about-x1-title {
        font-size: 23px; }
  .sk-about-x6 {
    margin: 105px auto 10px;
    font-size: 0; }

.sk-success {
  overflow: hidden; }
  .sk-success-x1 {
    background: url(../../i/social_media/illustrtae@2x.png) 0 0 no-repeat, radial-gradient(circle farthest-corner at right bottom, #0971ce 0%, #0862a5 28%, #10283f 79%, #0e1c2c 100%);
    background-size: cover;
    padding: 190px 0 122px;
    text-align: center; }
    .sk-success-x1-title {
      margin: 80px;
      font-size: 22px;
      color: white; }

@media all and (max-width: 1124px) {
  .sk-home-x3-item-title {
    padding: 0 80px 0 0; } }

@media all and (max-width: 768px) {
  .sk-home-x3-item {
    width: 100%; }
  .sk-home-x3-modal {
    width: 90%;
    top: 29%; }
    .sk-home-x3-modal iframe {
      width: 100%; } }

@media all and (max-width: 480px) {
  .sk-home-x3-modal {
    width: 80%; } }

@media all and (max-width: 1124px) {
  .sk-wrap {
    width: 100%;
    padding: 0 10px; }
  .sk-footer-item {
    margin: 30px 0 0;
    width: 100%;
    text-align: center; }
    .sk-footer-item:nth-child(2) {
      width: 100%;
      border: 1px solid transparent; }
    .sk-footer-item-link:nth-child(even), .sk-footer-item-link:nth-child(odd) {
      min-width: 49%; }
  .sk-header-link {
    margin: 0 25px; }
  .sk-home-x1-title, .sk-home-title + .typed-cursor {
    font-size: 43px;
    line-height: 52px; }
  .sk-home-x2-platforms-item button {
    color: #494949;
    border: 1px solid #5397FA;
    background: #fff;
    padding: 15px 20px; }
  .sk-home-x3 .bx-wrapper {
    max-width: 700px !important; }
    .sk-home-x3 .bx-wrapper .slide {
      margin: 0 68px !important; }
  .sk-home-x4 .bx-wrapper .slide .sk-about-x5-item-box, .sk-home-x4 .bx-wrapper .slide img {
    margin: 0; }
  .sk-home-x4 .bx-wrapper .slide .text {
    width: 100%; }
    .sk-home-x4 .bx-wrapper .slide .text h2, .sk-home-x4 .bx-wrapper .slide .text h3, .sk-home-x4 .bx-wrapper .slide .text p {
      text-align: center;
      margin: 10px auto; }
  .sk-home-x5-blog-item {
    margin: 30px 10px; }
  .sk-pricing-x1 {
    text-align: center; }
    .sk-pricing-x1-item {
      width: 305px;
      margin: 30px 0; }
      .sk-pricing-x1-item-row {
        text-align: left; }
        .sk-pricing-x1-item-row h2 {
          font-size: 16px;
          text-align: left; }
          .sk-pricing-x1-item-row h2 span {
            font-size: 19px; }
  .sk-about-x4 {
    margin: 50px 0; }
    .sk-about-x4-left-num {
      font-size: 140px;
      line-height: 110px; }
  .sk-about-x5 {
    margin: 50px 0; }
  .sk-support-x2-tabs-tab {
    font-size: 14px; }
  .sk-blog-post-x3-item {
    width: 100%;
    text-align: center;
    margin: 20px 0; }
    .sk-blog-post-x3-item a {
      margin: 0 5px; }
    .sk-blog-post-x3-item-img {
      display: block;
      margin: 0 auto 20px; }
    .sk-blog-post-x3-item:nth-child(2) {
      text-align: center; } }

@media all and (max-width: 768px) {
  .sk-header-link, .sk-header-logo {
    margin: 0 12px; }
  .sk-home-x1-title + .typed-cursor, .sk-home-x1-title {
    font-size: 24px;
    line-height: 30px; }
  .sk-home-x1-subTitle {
    font-size: 20px; }
  .sk-home-x1-clients-item img {
    height: 35px; }
  .sk-home-x2-platforms-item {
    width: 50%;
    padding: 15px 15px; }
  .sk-home-x3 .bx-wrapper {
    max-width: 400px !important; }
    .sk-home-x3 .bx-wrapper .slide {
      margin: 0 21px !important; }
  .sk-home-x4 .bx-wrapper .slide .text p {
    font-size: 18px;
    line-height: 22px; }
  .sk-about-x4-left, .sk-about-x4-right {
    width: 100%; }
  .sk-about-x4-right .sk-about-x1-subTitle {
    text-align: center;
    margin: 40px 0 0; }
  .sk-about-x4-right .sk-about-x1-title {
    text-align: center; }
  .sk-about-x6 {
    margin: 40px auto;
    font-size: 0; }
    .sk-about-x6 .sk-about-x4-left {
      text-align: center; }
      .sk-about-x6 .sk-about-x4-left h1 {
        font-size: 30px;
        margin-bottom: 20px; }
      .sk-about-x6 .sk-about-x4-left h2 {
        font-size: 18px; }
      .sk-about-x6 .sk-about-x4-left h3 {
        font-size: 20px;
        margin-bottom: 20px; }
  .sk-support-x2-tabs {
    text-align: center; }
    .sk-support-x2-tabs-tab {
      width: 33.333%;
      margin: 0; }
      .sk-support-x2-tabs-tab:nth-child(4) {
        border-left: 1px solid #EBEBEB; }
    .sk-support-x2-tabs-content {
      margin: 40px 0; }
      .sk-support-x2-tabs-content-item {
        width: 100%;
        margin-bottom: 30px;
        padding: 0; }
        .sk-support-x2-tabs-content-item h2 {
          margin-bottom: 5px; }
  .sk-blog-x1 .bx-wrapper .slider3 .slide .text h2 {
    font-size: 40px;
    line-height: 40px; }
  .sk-blog-x2 {
    width: 100%; }
    .sk-blog-x2-item-left {
      width: 100%; }
      .sk-blog-x2-item-left img {
        float: left;
        margin: 0 20px 0 36%; }
      .sk-blog-x2-item-left h2, .sk-blog-x2-item-left h3 {
        text-align: left;
        margin-top: 10px; }
    .sk-blog-x2-item-right {
      width: 100%;
      text-align: center;
      margin: 40px 0 0; }
      .sk-blog-x2-item-right h2 {
        font-size: 27px;
        line-height: 25px; }
  .sk-blog-post-x2-text {
    width: 100%; }
  .sk-blog-post-x4-item {
    width: 100%; }
    .sk-blog-post-x4-item h3 {
      font-size: 20px; } }

@media all and (max-width: 480px) {
  .sk-header-link, .sk-header-logo {
    margin: 0 10px;
    font-size: 12px; }
    .sk-header-link img, .sk-header-logo img {
      height: 32px; }
  .sk-header.active .sk-header-link, .sk-header.active .sk-header-logo {
    margin: 0 10px;
    font-size: 12px; }
    .sk-header.active .sk-header-link img, .sk-header.active .sk-header-logo img {
      height: 32px; }
  .sk-footer-bottom span {
    margin: 0 10px; }
    .sk-footer-bottom span:nth-child(1) {
      width: 66px;
      height: 20px; }
    .sk-footer-bottom span:nth-child(2) {
      width: 70px;
      height: 20px; }
    .sk-footer-bottom span:nth-child(3) {
      width: 90px;
      height: 20px; }
  .sk-home-x1-title + .typed-cursor, .sk-home-x1-title {
    font-size: 15px;
    line-height: 16px; }
  .sk-home-x1 {
    height: 540px;
    padding-top: 180px; }
    .sk-home-x1-subTitle {
      font-size: 16px; }
    .sk-home-x1-clients-item img {
      height: 35px; }
    .sk-home-x1-btn span {
      font-size: 12px; }
    .sk-home-x1-btn img {
      height: 20px;
      margin-right: 10px; }
  .sk-home-x2-title {
    font-size: 20px;
    line-height: 30px; }
  .sk-home-x2-platforms-item {
    width: 100%; }
  .sk-home-x3 .bx-wrapper {
    max-width: 260px !important; }
    .sk-home-x3 .bx-wrapper h2 {
      font-size: 16px; }
    .sk-home-x3 .bx-wrapper .slide {
      text-align: center;
      width: 130px !important;
      margin: 0 !important; }
  .sk-home-x4 .bx-wrapper .slide .text h2, .sk-home-x4 .bx-wrapper .slide .text h3, .sk-home-x4 .bx-wrapper .slide .text p {
    margin: 10px auto; }
  .sk-home-x5-blog-item {
    width: 280px; }
    .sk-home-x5-blog-item figcaption h3 {
      margin: 25px 0 5px; }
  .sk-support-x1 h2 {
    color: #fff;
    font-size: 35px;
    margin-bottom: 14px;
    font-weight: 400; }
  .sk-support-x1 h3 {
    font-size: 20px; }
  .sk-support-x2-tabs-tab {
    width: 50%;
    border: 1px solid #EBEBEB; }
  .sk-blog-x1 .bx-wrapper .slider3 .slide .text h2 {
    font-size: 25px;
    line-height: 30px; }
  .sk-blog-x2-item-left img {
    margin: 0 20px 0 26%;
    width: 40px;
    height: 40px; }
  .sk-blog-x2-item-left h2, .sk-blog-x2-item-left h3 {
    margin-top: 3px; }
  .sk-blog-x2-item-right h2 {
    font-size: 22px;
    line-height: 25px; }
  .sk-blog-x3-title {
    font-size: 26px; }
  .sk-blog-x3-form {
    width: 300px; }
  .sk-blog-post-x3-item-text {
    width: 100%; }
  .sk-success-x1-img {
    width: 100%; } }
