<section class="sk-about">
    <div ng-include="'views/particles/header.html'"></div>

    <div class="sk-support-x1">
        <h2>About Skylar</h2>
        <h3>Our Mission, Vision & the Team</h3>
    </div>

    <div class="sk-about-x1">
        <div class="sk-wrap">
            <h3 class="sk-about-x1-subTitle">Core Values</h3>
            <h2 class="sk-about-x1-title">Our Core Values</h2>
            <div class="fl-wrap-around">
                <div class="sk-about-x1-item">
                    <h2>Lorem ipsum dolor.</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias cum dicta distinctio dolores doloribus laboriosam maiores odit quisquam quo rerum. Accusantium, animi consequuntur eius facere in iste magnam modi mollitia nam, necessitatibus pariatur praesentium voluptatem voluptatibus! Dicta modi optio praesentium!</p>
                </div>
                <div class="sk-about-x1-item">
                    <h2>Lorem ipsum dolor.</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias cum dicta distinctio dolores doloribus laboriosam maiores odit quisquam quo rerum. Accusantium, animi consequuntur eius facere in iste magnam modi mollitia nam, necessitatibus pariatur praesentium voluptatem voluptatibus! Dicta modi optio praesentium!</p>
                </div>
                <div class="sk-about-x1-item">
                    <h2>Lorem ipsum dolor.</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias cum dicta distinctio dolores doloribus laboriosam maiores odit quisquam quo rerum. Accusantium, animi consequuntur eius facere in iste magnam modi mollitia nam, necessitatibus pariatur praesentium voluptatem voluptatibus! Dicta modi optio praesentium!</p>
                </div>
            </div>
        </div>
        <!--<p class="sk-about-x1-text">-->
            <!--Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquam at doloremque eligendi eum quae tempora! Alias aliquam cumque dolorum explicabo fugit hic itaque labore laudantium libero magnam non obcaecati omnis optio perferendis recusandae, totam unde vel veniam vitae voluptates! Commodi id porro reprehenderit. Accusantium animi aperiam asperiores consequuntur deserunt dicta eius eos est harum in ipsum laborum magnam magni maiores necessitatibus nemo, odio pariatur provident quam repudiandae sint totam ullam voluptatem voluptates voluptatum! Atque consequatur distinctio ducimus est fugiat omnis praesentium quos totam unde veritatis! Incidunt maxime perspiciatis quas quis voluptatibus? Dignissimos, dolorum fugiat possimus quas recusandae tempore vel?-->
            <!--<a href="">learn more about Skylar's team, technology and version</a>-->
        <!--</p>-->
    </div>
    
    <div class="sk-about-x2" animation-images-bg="200">
        <img class="sk-about-x2-img" src="http://loremflickr.com/420/240/girl/all" alt="">
        <img class="sk-about-x2-img" src="http://loremflickr.com/420/240/girl/all" alt="">
        <img class="sk-about-x2-img" src="http://loremflickr.com/420/240/girl/all" alt="">
        <img class="sk-about-x2-img" src="http://loremflickr.com/420/240/girl/all" alt="">
        <img class="sk-about-x2-img" src="http://loremflickr.com/420/240/girl/all" alt="">
        <img class="sk-about-x2-img" src="http://loremflickr.com/420/240/girl/all" alt="">
        <img class="sk-about-x2-img" src="http://loremflickr.com/420/240/girl/all" alt="">
        <img class="sk-about-x2-img" src="http://loremflickr.com/420/240/girl/all" alt="">
        <img class="sk-about-x2-img" src="http://loremflickr.com/420/240/girl/all" alt="">
        <img class="sk-about-x2-img" src="http://loremflickr.com/420/240/girl/all" alt="">
        <img class="sk-about-x2-img" src="http://loremflickr.com/420/240/girl/all" alt="">
        <img class="sk-about-x2-img" src="http://loremflickr.com/420/240/girl/all" alt="">
    </div>

    <div class="sk-about-x3">
        <div class="sk-wrap">
            <div class="sk-about-x3-title">Join Us</div>
            <div class="sk-about-x3-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, velit, veniam? Exercitationem expedita quasi rerum. Adipisci aperiam cum dolore doloremque dolores eligendi eos id molestiae mollitia, nam necessitatibus nisi odit pariatur quae repudiandae saepe sunt suscipit totam unde veniam voluptas?</div>
            <a href="" class="sk-about-x3-link">Open Positions</a>
            <div class="sk-deliver"></div>
            <div class="sk-about-x3-job" ng-repeat="i in [0,1]">
                <h2>division</h2>

                <h3>Title Job</h3>
                <h4>Job Location</h4>

                <h3>Title Job</h3>
                <h4>Job Location</h4>
            </div>
        </div>
    </div>

    <div class="sk-about-x4 sk-wrap">
        <div class="sk-about-x4-left">
            <div class="sk-about-x4-left-num">
                20 <br> 15
            </div>
        </div>
        <div class="sk-about-x4-right">
            <h3 class="sk-about-x1-subTitle">Our History</h3>
            <h2 class="sk-about-x1-title">How did we start?</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad beatae consectetur consequatur earum fugiat ipsa laborum laudantium maxime nemo, neque quas quia sapiente tempore veritatis.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae consequuntur dignissimos dolorem, error inventore ipsum nam nostrum odio pariatur perspiciatis qui saepe soluta. Doloribus expedita fugiat laboriosam laudantium nihil quaerat quam quod similique suscipit voluptas.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, praesentium ut. Amet beatae dolore ea eveniet ipsa iusto, provident qui repellat sed voluptatibus. Aliquid ducimus in magni molestias nesciunt nihil obcaecati odio praesentium quam sapiente? Animi blanditiis deleniti dicta distinctio dolorum exercitationem inventore maiores, optio perferendis, quisquam repellat repellendus sit suscipit, tenetur voluptatibus? Iusto, nulla.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus beatae consectetur enim error harum officiis vero! Assumenda dicta eos hic obcaecati quisquam rem unde. Consequatur exercitationem reiciendis vel veniam. Accusantium, ad commodi consequatur deleniti deserunt ducimus earum fugiat in inventore obcaecati odit, repellat tempora tenetur ullam vitae. Explicabo tempora, ullam.</p>
        </div>
    </div>

    <div class="sk-deliver"></div>

    <div class="sk-about-x5 sk-wrap">
        <h3 class="sk-about-x1-subTitle">Meet Skylar Team</h3>
        <h2 class="sk-about-x1-title">Here We Are</h2>
        <div class="sk-about-x5-item">
            <div class="sk-about-x5-item-box"></div>
            <h2 class="sk-about-x1-title">Your Name</h2>
            <h3 class="sk-about-x1-subTitle">Position</h3>
        </div>
        <div class="sk-about-x5-item">
            <div class="sk-about-x5-item-box"></div>
            <h2 class="sk-about-x1-title">Your Name</h2>
            <h3 class="sk-about-x1-subTitle">Position</h3>
        </div>
        <div class="sk-about-x5-item">
            <div class="sk-about-x5-item-box"></div>
            <h2 class="sk-about-x1-title">Your Name</h2>
            <h3 class="sk-about-x1-subTitle">Position</h3>
        </div>
        <div class="sk-about-x5-item">
            <div class="sk-about-x5-item-box"></div>
            <h2 class="sk-about-x1-title">Your Name</h2>
            <h3 class="sk-about-x1-subTitle">Position</h3>
        </div>
    </div>

    <div class="sk-deliver"></div>

    <div class="sk-about-x6 sk-wrap">
        <div class="sk-about-x4-left">
            <h1>Reach Us</h1>

            <h2>questions?</h2>
            <h3>Ask Support</h3>

            <h2>twitter</h2>
            <h3>@getskylar</h3>

            <h2>our blog</h2>
            <h3>From the desk of skylar</h3>
        </div>
        <div class="sk-about-x4-right">
            <div ng-init="initMap()" id="map"></div>
            <div class="sk-about-x4-right-title">
                Lorem ipsum dolor. 21-23 <br>
                Riga, LV-1010, Latvia
            </div>
        </div>
    </div>

    <div class="sk-deliver"></div>

    <div class="sk-home-x6">
        <div class="sk-home-x2-title">Talk to your slack. <br> Lorem ipsum dolor sit amet</div>
        <button class="sk-home-x5-btn"><img src="i/platform/slack_icon.png" alt=""> <span>add to slack</span></button>
    </div>

    <div ng-include="'views/particles/footer.html'"></div>
</section>
