<section class="sk-blog">
    <div ng-include="'views/particles/header.html'"></div>

    <div class="sk-blog-post-x1">
        <h2>Build The Layout From <br> The Base ?</h2>
        <h3>new features <span>- 4 days ago</span></h3>
        <div scroll-to-anchor="x2" class="sk-blog-post-x1-scroll">Keep Reading</div>
    </div>

     <div id="x2" class="sk-blog-post-x2 sk-wrap">
        <div class="sk-blog-post-x2-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aperiam autem et, fugit incidunt laborum possimus provident quae quam quos, sint, temporibus tenetur veniam. Dolor ea necessitatibus officiis vero voluptatibus! Assumenda doloribus eveniet excepturi molestias odio quos recusandae tempora. Culpa delectus dolore ea earum error facilis, incidunt inventore nobis voluptatum?
        </div>
        <div class="sk-blog-post-x2-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque fugit hic impedit iusto magni molestias mollitia nihil nulla obcaecati officia, omnis porro possimus, quaerat rem, sit soluta vel. Ad alias, amet autem cumque debitis dignissimos dolore excepturi facilis harum incidunt itaque magnam, non odit pariatur porro quis quisquam ratione, reiciendis repudiandae sint soluta tempore ut voluptates. Aperiam laudantium provident quod?
        </div>
        <div class="sk-blog-post-x2-text">Problem 1-</div>
        <div class="sk-blog-post-x2-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero molestiae saepe tempora vitae? Aspernatur consectetur dolorem esse! Consequatur cumque dicta dignissimos ex, facilis libero maxime numquam reiciendis sapiente voluptatem? Accusantium, autem consequuntur eligendi exercitationem facilis id laudantium magnam odio provident quaerat quas quidem sapiente sequi tenetur totam. Ad doloremque ex exercitationem expedita laboriosam libero nemo nulla quo ratione soluta? Architecto blanditiis consectetur consequatur culpa cum cupiditate, deleniti dolor ducimus enim error eveniet excepturi facere harum in iure labore maxime natus nisi pariatur sunt ullam velit veniam voluptatum! Aspernatur at doloribus eum fugit harum nesciunt quaerat repellendus suscipit! Culpa, minima tenetur?</div>
        <div class="sk-blog-post-x2-text">Problem 2-</div>
        <div class="sk-blog-post-x2-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque dignissimos, esse ex illo obcaecati sapiente sed. Deleniti doloremque ea fuga magnam minus numquam pariatur quia ratione. Nemo omnis porro ratione repudiandae? Ab aliquam consequuntur dolorum, eaque earum eius, eos error excepturi explicabo laudantium, nam omnis pariatur placeat quidem repudiandae saepe veniam! Blanditiis cumque dolor dolorum eligendi exercitationem, labore odio quos rem sint tenetur. Esse ipsum minima placeat quasi unde vel.</div>
        <div class="sk-blog-post-x2-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque dignissimos, esse ex illo obcaecati sapiente sed. Deleniti doloremque ea fuga magnam minus numquam pariatur quia ratione. Nemo omnis porro ratione repudiandae? Ab aliquam consequuntur dolorum, eaque earum eius, eos error excepturi explicabo laudantium, nam omnis pariatur placeat quidem repudiandae saepe veniam! Blanditiis cumque dolor dolorum eligendi exercitationem, labore odio quos rem sint tenetur. Esse ipsum minima placeat quasi unde vel.</div>
    </div>

    <div class="sk-blog-post-x3 fl-wrap-cen-between">
        <div class="sk-wrap">
            <div class="sk-blog-post-x3-item">
                <img class="sk-blog-post-x3-item-img" src="http://loremflickr.com/50/50/girl/all" alt="">
                <div class="sk-blog-post-x3-item-text">
                    <h2>Vasiliy Pupkin</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores cupiditate doloremque eius et, eum fugiat impedit modi nisi nulla perspiciatis, ratione rem sed, ullam unde voluptatibus. Aliquam dignissimos quae unde.</p>
                </div>
            </div>
            <div class="sk-blog-post-x3-item">
                <a href="#"><img src="i/soc1.jpg" alt=""></a>
                <a href="#"><img src="i/soc2.jpg" alt=""></a>
                <a href="#"><img src="i/soc3.jpg" alt=""></a>
            </div>
        </div>
    </div>

    <div class="sk-blog-post-x4 fl-wrap-cen-between">
        <div class="sk-wrap">
            <div class="sk-blog-post-x4-item">
                <h2>Lorem ipsum.</h2>
                <h3>Lorem ipsum dolor sit amet.</h3>
            </div>
            <div class="sk-blog-post-x4-item">
                <h2>Lorem ipsum.</h2>
                <h3>Lorem ipsum dolor, consectetur.</h3>
            </div>
        </div>
    </div>


    <div class="sk-blog-x3">
        <div class="sk-wrap">
            <div class="sk-blog-x3-title">Get new post, resource etc vax vax vax</div>
            <form class="sk-blog-x3-form">
                <input type="text" placeholder="Enter your email address to subscribe">
                <button type="submit"><img src="i/plain.jpg" alt=""></button>
            </form>
        </div>
    </div>


    <div ng-include="'views/particles/footer.html'"></div>
</section>
