<section class="sk-support">
    <div ng-include="'views/particles/header.html'"></div>

    <div class="sk-support-x1">
        <h2>Help Center</h2>
        <h3>Find help for everything Skylar.</h3>
    </div>

    <div class="sk-support-x2 sk-wrap">

        <div class="sk-support-x2-tabs">
            <div ng-class="{active: isSet('tab1')}" ng-click="setTab('tab1')" class="sk-support-x2-tabs-tab">Most Common</div>
            <div ng-class="{active: isSet('tab2')}" ng-click="setTab('tab2')" class="sk-support-x2-tabs-tab">Setting Preferences</div>
            <div ng-class="{active: isSet('tab3')}" ng-click="setTab('tab3')" class="sk-support-x2-tabs-tab">Calendar</div>
            <div ng-class="{active: isSet('tab4')}" ng-click="setTab('tab4')" class="sk-support-x2-tabs-tab">Set-up</div>
            <div ng-class="{active: isSet('tab5')}" ng-click="setTab('tab5')" class="sk-support-x2-tabs-tab">All</div>


            <div ng-show="isSet('tab1')" class="sk-support-x2-tabs-content">
                <div class="sk-support-x2-tabs-content-item" ng-repeat="i in [0,1,2,3,4]">
                    <h2>Build The Layout From The Base ?</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci architecto assumenda debitis deserunt doloribus earum eos fugit ipsa laborum libero maxime officia quod rem repellat, repudiandae sequi sint, vitae voluptate.</p>
                </div>
            </div>
            <div ng-show="isSet('tab2')" class="sk-support-x2-tabs-content">
                <div class="sk-support-x2-tabs-content-wrap">2</div>
            </div>
            <div ng-show="isSet('tab3')" class="sk-support-x2-tabs-content">
                <div class="sk-support-x2-tabs-content-wrap">3</div>
            </div>
            <div ng-show="isSet('tab4')" class="sk-support-x2-tabs-content">
                <div class="sk-support-x2-tabs-content-wrap">4</div>
            </div>
            <div ng-show="isSet('tab5')" class="sk-support-x2-tabs-content">
                <div class="sk-support-x2-tabs-content-wrap">5</div>
            </div>
        </div>
    </div>

    <div class="sk-deliver"></div>

    <div class="sk-home-x6">
        <div class="sk-home-x2-title">Talk to your slack. <br> Lorem ipsum dolor sit amet</div>
        <button class="sk-home-x5-btn"><img src="i/platform/slack_icon.png" alt=""> <span>add to slack</span></button>
    </div>

    <div ng-include="'views/particles/footer.html'"></div>
</section>
