@font-face {
  font-family:'Colfax';
  src:url(../../fonts/Colfax-Regular.eot);
  src:url(../../fonts/Colfax-Regular.eot?#iefix) format("embedded-opentype"),url(../../fonts/Colfax-Regular.woff) format("woff"),url(../../fonts/Colfax-Regular.ttf) format("truetype"),url(../../fonts/Colfax-Regular.svg#svgFontName) format("svg");
  font-weight: 400;
}

@font-face {
  font-family:'Colfax';
  src:url(../../fonts/Colfax-Medium.eot);
  src:url(../../fonts/Colfax-Medium.eot?#iefix) format("embedded-opentype"),url(../../fonts/Colfax-Medium.woff) format("woff"),url(../../fonts/Colfax-Medium.ttf) format("truetype"),url(../../fonts/Colfax-Medium.svg#svgFontName) format("svg");
  font-weight: 500;
}

@font-face {
  font-family:'Colfax';
  src:url(../../fonts/Colfax-Bold.eot);
  src:url(../../fonts/Colfax-Bold.eot?#iefix) format("embedded-opentype"),url(../../fonts/Colfax-Bold.woff) format("woff"),url(../../fonts/Colfax-Bold.ttf) format("truetype"),url(../../fonts/Colfax-Bold.svg#svgFontName) format("svg");
  font-weight: 700;
}