@import "fonts";
@import "grid";
@import "defClass";

//DEFAULT///////////////////////////////////////////////////////////////////////////////////////////////////////////////
$color1: #494949;
$color2: #9A9A9A;
$color3: #5496E2;
$color4: #282828;

html,body{
  min-width: 320px;
  height: 100%;
  font-family:'Colfax';
  font-weight: 400;
  color: $color1;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 200ms ease;
  &:hover,&:focus,&:active{
    outline: none !important;
  }
}
//REWRITE///////////////////////////////////////////////////////////////////////////////////////////////////////////////
.bx-wrapper .bx-prev, .bx-wrapper .bx-next{
  background: none;
  position: relative;
  border-radius: 50%;
  border: 1px solid #969696;
  &:after{
    content: '';
    position: absolute;
    left: 12px;
    top: 9px;
    width: 10px;
    height: 10px;
    border: 1px solid #969696;
    border-right: 0;
    border-top: 0;
    transform: rotate(45deg);
  }
}
.bx-wrapper .bx-next:after{
  left: 8px;
  transform: rotate(-135deg);
}
//ALL///////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.typed-cursor{
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}
@keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

.starter .sk-header{
  opacity: 0;
}
//SK////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.sk{
  &-wrap{
    position: relative;
    width: 1130px;
    margin: 0 auto;
  }
  &-deliver{
    width: 100%;
    height: 1px;
    background: #eee;
  }
  &-top{
    position: fixed;
    z-index: 100;
    right: 0;
    bottom: 0;
    color: #000;
    background: 0 0;
    border: none;
    cursor: pointer;
    padding: 20px;
    transition: all 200ms ease;
    span{
      display: block;
      font-weight: 700;
      font-size: 16px;
      line-height: 11px;
      text-shadow: 2px 2px 0 #fff;
    }
    &:hover{transform: scale(1.2);}
    &:active{transform: scale(0.5);}
  }
//HEADER////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  &-header{
    padding-top: 25px;;
    text-align: center;
    position: fixed;
    z-index: 100;
    left: 0;
    right: 0;
    top: 0;
    opacity: 1;
    transition: all 1000ms ease;
    &-link,&-logo{
      @extend .dibM;
      text-decoration: none;
    }
    &-logo{
      margin: 0 100px;
      img{
        height: 67px;
      }
    }
    &-link{
      color: white;
      text-transform: uppercase;
      font-size: 18px;
      margin: 0 50px;
    }

    &.active{
      padding: 10px 0;
      background: rgba(255, 255, 255, 0.90);
      box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
      .sk-header-logo{
        margin: 0 50px;
        img{
          height: 40px;
        }
      }
      .sk-header-link{
        font-size: 14px;
        color: $color1;
      }
    }
  }
//FOOTER////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  &-footer{
    background: url(../../i/footerBg.png) 0 0 repeat;
    padding: 50px 0 0;
    font-size: 0;
    position: relative;
    &:after{
      content: '';
      position: absolute;
      z-index: 0;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background: rgba(7, 13, 18, 0.5);
    }
    &-item{
      @extend .dibT;
      width: 32%;
      font-size: 16px;
      position: relative;
      z-index: 1;
      &:nth-child(2){
        width: 36%;
        text-align: center;
        border: 1px solid white;
        border-bottom: 0;
        border-top: 0;
        padding: 0 25px;
      }
      &-title{
        text-transform: uppercase;
        font-size: 14px;
        margin-bottom: 10px;
        color: #5B5C5D;
      }
      &-subTitle{
        color: #fff;
        font-size: 18px;
        line-height: 23px;
        margin: 20px 0 30px;
      }
      &-link{
        @extend .dibT;
        color: white;
        margin: 0 0 12px;
        text-decoration: none;
        &:nth-child(even){
          min-width: 25%;
        }
        &:nth-child(odd){
          min-width: 65%;
        }
        &:hover{opacity: .6;}
        &:active{opacity: 1;}
      }
      &-form{
        position: relative;
        input{
          width: 100%;
          height: 50px;
          border-radius: 5px;
          padding: 0 60px 0 10px;
          border: none;
          font-size: 16px;
        }
        button{
          border: 0;
          background: #4B90E0;
          position: absolute;
          right: 5px;
          top: 5px;
          height: 40px;
          line-height: 38px;
          padding: 0 20px;
          color: #fff;
          border-radius: 5px;
          cursor: pointer;
          &:hover{opacity: .6;}
          &:active{opacity: 1;transform: scale(0.9)}
        }
      }
      &_last{
        text-align: right;
        h2{
          color: white;
          font-size: 23px;
          font-weight: normal;
          margin-bottom: 10px;
        }
        h3{
          text-transform: uppercase;
          font-size: 14px;
          margin-bottom: 10px;
          color: #070C11;
        }
        .sk-footer-item-social{
          i{
            @extend .dibM;
            margin: 0 10px 13px;
            font-size: 20px;
            color: white;
            &:hover{opacity: .6;}
            &:active{opacity: 1;transform: scale(0.9)}
          }
        }
      }
    }

    &-bottom{
      position: relative;
      z-index: 1;
      margin-top: 30px;
      background: #0E1B24;
      width: 100%;
      padding: 10px;
      text-align: center;
      span{
        @extend .dibM;
        margin: 0 9px;
        background-size: cover !important;
        &:nth-child(1){background: url(../../i/3_logos_footer/1.png) 0 0 no-repeat, #0E1B24;
          width: 80px;
          height: 25px;
        }
        &:nth-child(2){background: url(../../i/3_logos_footer/2.png) 0 0 no-repeat, #0E1B24;
          width: 91px;
          height: 25px;
        }
        &:nth-child(3){background: url(../../i/3_logos_footer/3.png) 0 0 no-repeat, #0E1B24;
          width: 114px;
          height: 25px;
        }
      }
    }

    &_v2{
      background: #282828;
      padding: 50px 0 40px;
      font-size: 0;
      &-item {
        width: 45%;
        @extend .dibT;
        &:nth-child(2){
          text-align: center;
          width: 10%;
          span{
            display: block;
            color: white;
            font-size: 22px;
            margin-top: 6px;
          }
        }

        &-link{
          @extend .dibT;
          width: 50%;
          text-align: center;
          font-size: 17px;
          text-transform: uppercase;
          color: #fff;
          text-decoration: none;
          margin-top: 11px;
        }
      }
    }
  }
//HOME//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  &-home{
    &-x1{
      background: url(../../i/social_media/illustrtae@2x.png) 0 0 no-repeat, radial-gradient(circle farthest-corner at right bottom, #0971ce 0%, #0862a5 28%, #10283f 79%, #0e1c2c 100%);
      background-size: cover;
      padding-top: 205px;
      text-align: center;
      height: 690px;
      position: relative;
      transition: all 1000ms ease;
      &-down{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 40px;
        margin: 0 auto;
        width: 40px;
        height: 40px;
        border: 1px solid white;
        border-top: inherit;
        border-right: inherit;
        transform: rotate(-45deg);
        cursor: pointer;

      }
      &.starter{
        background: none;
      }

      &-title{
        font-size: 50px;
        letter-spacing: 2px;
        line-height: 67px;
        margin-bottom: 25px;
        color: white;
        display: inline;
        transition: all 0s ease;
        b{
          transition: all 0s ease;
        }
        + .typed-cursor{
          font-size: 50px;
          line-height: 67px;
        }
        &.starter{
          color: $color1;
        }
      }
      &-subTitle{
        font-size: 23px;
        margin: 20px 0 50px;
        letter-spacing: -1px;
        color: white;
        opacity: 1;
        transition: all 1000ms ease;
        &.starter{
          opacity: 0;
        }
      }
      &-btn{
        background: #fff;
        border: 2px solid #C1DFF4;
        border-radius: 25px;
        padding: 0 40px;
        height: 50px;
        cursor: pointer;
        opacity: 1;
        transition: all 1000ms ease;
        img{
          @extend .dibM;
          height: 38px;
          margin-right: 22px;
        }
        span{
          @extend .dibM;
          text-transform: uppercase;
          font-weight: 700;
          font-size: 16px;
          color: #494949;
        }
        &:hover{opacity: .6;}
        &:active{opacity: 1;transform: scale(0.9)}
        &.starter{
          opacity: 0;
        }
      }
      &-clients{
        background: #FCFCFC;
        font-size: 0;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 19px 0;
        opacity: 0;
        transform: translateY(500px);
        transition: all 1000ms ease;
        &-item{
          @extend .dibM;
          width: 25%;
          img{
            //height: 35px;
          }
        }
        &.active{
          opacity: 1;
          transform: translateY(0);
        }
      }
    }

    &-x2{
      padding-bottom: 85px;
      opacity: 1;
      transition: all 1000ms ease;
      &.starter{
        margin-top: 265px;
      }
      &-title{
        margin: 50px auto 50px;
        //font-size: 33px;
        font-size: 23px;
        line-height: 41px;
        text-align: center;
        color: #4c5869;
        font-weight: 300;
      }

      &-platforms{
        font-size: 0;
        &-item{
          font-size: 16px;
          width: 25%;
          text-align: center;
          padding: 0 15px;
          img{
            margin-bottom: 13px;
            height: 60px;
          }
          h2{
            font-size: 23px;
            font-weight: normal;
            margin-bottom: 13px;
            color: $color1;
          }
          p{
            font-size: 16px;
            line-height: 20px;
            color: $color1;
            min-height: 105px;
          }
          button{
            color: #494949;
            border: 1px solid #5397FA;
            background: #fff;
            padding: 15px 35px;
            font-weight: bold;
            font-size: 13px;
            cursor: pointer;
            &:hover{opacity: .6;}
            &:active{opacity: 1;transform: scale(0.9)}
          }
        }
      }
    }

    &-x3{
      margin: 50px 0;
      font-size: 0;
      position: relative;
      &-modal{
        position: absolute;
        z-index: -10;
        opacity: 0;
        visibility: hidden;
        left: 0;
        right: 0;
        top: 0;
        width: 560px;
        margin: 0 auto;
        text-align: center;
        transition: all 200ms linear;
        &.active{
          z-index: 50;
          opacity: 1;
          visibility: visible;
        }
        &-close{
          position: absolute;
          right: -20px;
          top: -20px;
          font-size: 20px;
          color: #000;
          cursor: pointer;
        }
      }

      &-item{
        @extend .dibM;
        font-size: inherit;
        width: 49%;
        margin-bottom: 20px;
        position: relative;
        border: 5px solid #F8BE86;
        padding: 20px;
        color: #1526E1;
        &:hover{
          border-color: #1526E1;
        }

        &-btn{
          position: absolute;
          background: white;
          right: 20px;
          top: 20px;
          border: 2px solid #BAC4F5;
          width: 70px;
          height: 70px;
          border-radius: 50%;
          text-align: center;
          line-height: 70px;
          text-transform: uppercase;
          font-size: 16px;
          transition: all 200ms linear;
          cursor: pointer;
          &:before{
            content: '';
            position: absolute;
            z-index: 1;
            left: 6px;
            right: 0;
            top: 0;
            bottom: 0;
            width: 0;
            height: 0;
            margin: auto;
            border-left: 23px solid #BAC4F5;
            border-top: 18px solid transparent;
            border-bottom: 18px solid transparent;
            opacity: 0;
            transition: all 200ms linear;
          }
          &:after{
            content: '';
            position: absolute;
            left: 6px;
            right: 0;
            top: 0;
            bottom: 0;
            width: 0;
            height: 0;
            margin: auto;
            border-left: 25px solid #1526E1;
            border-top: 20px solid transparent;
            border-bottom: 20px solid transparent;
            opacity: 0;
            transition: all 200ms linear;
          }
          &:hover{
            border-color: #1526E1;
            background: #BAC4F5;
            color: #BAC4F5;
            &:after,&:before{
              opacity: 1;
            }
          }
        }
        &-sTitle{
          font-size: 16px;
          text-transform: uppercase;
          font-weight: 500;
        }
        &-title{
          font-size: 30px;
          font-weight: 100;
          margin: 15px 0;
        }
        &-text{
          font-size: 16px;
          line-height: 22px;
          font-weight: 100;
        }
      }
    }

    &-x4{
      background: #f3f5f7;
      border-top: 1px solid #eee;
      border-bottom: 1px solid #eee;
      padding: 85px 0 100px;
      .bx-wrapper {
        box-shadow: none;
        border: none;
        background: none;
        margin: 0 auto;
        .bx-pager {
          bottom: -35px;
          &.bx-default-pager a {
            width: 17px;
            height: 17px;
            margin: 0 11px;
            border-radius: 15px;
            background: white;
            border: 1px solid #969696;
            &.active{
              background: #D7D7D7;
            }
          }
        }
        .slide{
          text-align: center;
          .sk-about-x5-item-box, img{
            @extend .dibT;
            margin: 0 85px 0 0;
          }
          .text{
            @extend .dibT;
            text-align: left;
            width: 635px;
            p{
              font-size: 24px;
              color: #9A9A9A;
              margin: 25px 0 12px;
              line-height: 30px;
              text-align: justify;
            }
            h2{
              font-size: 22px;
              color: $color1;
            }
            h3{
              font-weight: 400;
              font-size: 16px;
              color: #9A9A9A;
              margin: 5px 0 0;
            }
          }
        }
      }
    }

    &-x5{
      text-align: center;
      padding-bottom: 40px;
      &-blog{
        padding: 10px 0 40px;
        &-item{
          position: relative;
          width: 350px;
          @extend .dibT;
          margin: 0 10px;
          overflow: hidden;
          box-shadow: 0 0 20px -5px #000000;
          img{
            transition: all 500ms ease;
            width: 100%;
            vertical-align: middle;
          }
          figcaption{
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            color: white;
            h3{
              font-weight: 400;
              font-size: 18px;
              text-transform: uppercase;
              margin: 45px 0 5px;
            }
            h2{
              font-weight: 400;
              font-size: 28px;
              margin: 0 0 20px;
            }
            button{
              padding: 8px 25px;
              border-radius: 10px;
              background: 0 0;
              border: 1px solid #fff;
              color: #fff;
              cursor: pointer;
              &:hover{opacity: .6;}
              &:active{opacity: 1;transform: scale(0.9)}
            }
          }

          &:hover{
            img{
              opacity: .5;
              transform: scale(1.5) rotate(15deg);
            }
          }
        }
      }

      &-btn{
        color: #494949;
        font-weight: 700;
        font-size: 13px;
        background: #fff;
        border: 2px solid #5397FA;
        border-radius: 2px;
        padding: 0 40px;
        height: 50px;
        cursor: pointer;
        img{
          @extend .dibM;
          height: 25px;
          margin-right: 22px;
        }
        span{
          @extend .dibM;
          text-transform: uppercase;
          font-weight: 700;
          font-size: 12px;
          color: #494949;
        }
        &:hover{opacity: .6;}
        &:active{opacity: 1;transform: scale(0.9)}
      }
    }

    &-x6{
      background: #FCF9FA;
      text-align: center;
      padding: 10px 0 50px;
    }
  }
//BLOG//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  &-blog{
    &-x1{
      .bx-viewport{
        height: 515px !important;
      }
      .bx-wrapper {
        box-shadow: none;
        border: 0;
        .bx-pager{
          bottom: 30px;
          &.bx-default-pager a{
            background: transparent;
            border: 1px solid white;
            &.active{
              background: white;
            }
          }
        }
        .slider3{
          height: 100%;
          .slide {
            position: relative;
            height: 100%;
            img{
              max-width: inherit;
              height: 100%;
              margin: 0 auto;
            }
            .text{
              padding-top: 162px;
              text-align: center;
              position: absolute;
              left: 0;
              right: 0;
              top: 0;
              h3{
                text-transform: uppercase;
                color: white;
                font-weight: normal;
                font-size: 14px;
              }
              h2{
                color: #fff;
                font-size: 53px;
                line-height: 69px;
                margin: 24px 0;
              }
              button{
                text-transform: uppercase;
                border: 0;
                background: #fff;
                color: #494949;
                height: 50px;
                padding: 0 75px;
                font-size: 11px;
                font-weight: 700;
                border-radius: 3px;
                cursor: pointer;
              }
            }
          }
        }
      }
    }

    &-x2{
      width: 640px;
      margin: 0 auto;
      &-item{
        padding: 35px 0;
        font-size: 0;
        border-bottom: 1px solid #eee;
        &-left{
          @extend .dibM;
          width: 23%;
          font-size: 16px;
          text-align: center;
          img{
            width: 60px;
            height: 60px;
            overflow: hidden;
            border-radius: 50%;
            margin-bottom: 20px;
          }
          h2{
            font-size: 14px;
            font-weight: normal;
            color: $color1;
          }
          h3{
            font-size: 14px;
            font-weight: normal;
            color: $color1;
            opacity: .6;
          }
        }
        &-right{
          @extend .dibM;
          width: 77%;
          font-size: 16px;
          h3{
            font-weight: normal;
            color: #BBEA8D;
            text-transform: uppercase;
            font-size: 13px;
          }
          h2{
            color: $color1;
            font-size: 35px;
            line-height: 45px;
            margin: 10px 0;
          }
          img{
            border-radius: 5px;
            overflow: hidden;
            width: 100%;
            margin-bottom: 20px;
          }
          p{
            font-size: 14px;
            line-height: 20px;
            color: $color1;
            opacity: .6;
            margin-bottom: 15px;
          }
          a{
            font-size: 13px;
            color: $color1;
            text-decoration: none;
          }
        }
      }

      &-pager{
        overflow: hidden;
        border-radius: 3px;
        border: 1px solid $color1;
        font-size: 0;
        display: inline-block;
        margin: 40px 0;
        a{
          @extend .dibT;
          border-left: 1px solid #eee;
          padding: 8px 18px;
          font-size: 14px;
          text-decoration: none;
          text-transform: uppercase;
          background: white;
          color: $color1;
          &:first-child{border: 0;}
          &.active{
            font-weight: bold;
          }
          &:hover{
            background: #282B30;
            color: white;
          }
        }
      }
    }

    &-x3{
      background: #FAFAFA;
      padding: 80px 0 72px;
      text-align: center;
      &-title{
        font-size: 34px;
        font-weight: 500;
        text-align: center;
        color: $color1;
        margin-bottom: 46px;
      }
      &-form{
        text-align: left;
        position: relative;
        width: 320px;
        margin: 0 auto;
        input{
          border: 1px solid $color1;
          height: 46px;
          width: 100%;
          line-height: 46px;
          padding: 0 50px 0 10px;
          font-size: 16px;
          border-radius: 5px;
        }
        button{
          position: absolute;
          right: 0;
          top: 0;
          border: 0;
          background: 0;
          padding: 10px;
          cursor: pointer;
          &:hover{opacity: .6;}
          &:active{opacity: 1;transform: scale(0.9)}
        }
      }
    }

    &-post{
      &-x1{
        background: url(http://loremflickr.com/50/50/girl/all) 0 center no-repeat;
        background-size: cover;
        padding: 200px 0 130px;
        margin-bottom: 78px;
        text-align: center;
        color: white;
        position: relative;
        h2{
          font-size: 52px;
          line-height: 70px;
          margin-bottom: 30px;
        }
        h3{
          text-transform: uppercase;
          font-size: 13px;
          font-weight: normal;
          color: #BBEA8D;
          span{
            color: white;
          }
        }
        &-scroll{
          position: absolute;
          left: 0;
          right: 0;
          bottom: 20px;
          font-size: 12px;
          color: #fff;
          text-decoration: none;
          cursor: pointer;
          &:after{
            content: '';
            display: block;
            margin: 0 auto;
            width: 10px;
            height: 10px;
            border: 1px solid white;
            border-top: 0;
            border-left: 0;
            transform: rotate(45deg);
            transition: all 200ms ease;
          }
        }
      }
      &-x2{
        &-text{
          width: 720px;
          margin: 0 auto 25px;
          font-size: 16px;
          line-height: 22px;
          color: $color1;
        }
      }
      &-x3{
        border: 1px solid #eee;
        font-size: 0;
        margin-top: 20px;
        padding: 50px 0;
        &-item{
          @extend .dibM;
          width: 50%;
          &-img{
            @extend .dibT;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            margin-right: 40px;
            overflow: hidden;
          }
          &-text{
            @extend .dibT;
            width: 440px;
            h2{
              font-size: 18px;
              margin-bottom: 10px;
              font-weight: normal;
            }
            p{
              font-size: 16px;
            }
          }
          a{
            display: inline-block;
            margin-left: 30px;
          }
          &:last-child{
            text-align: right;
          }
        }
      }
      &-x4{
        border-bottom: 1px solid #eee;
        font-size: 0;
        &-item{
          @extend .dibM;
          width: 50%;
          font-size: 16px;
          padding: 48px 0;
          &:nth-child(2){
            text-align: right;
            border-left: 1px solid #eee;
          }

          h2{
            color: #BBEA8D;
            font-weight: normal;
            font-size: 18px;
            margin-bottom: 3px;
          }
          h3{
            font-weight: normal;
            font-size: 30px;
            color: $color1;
          }
        }
      }
    }
  }
//SUPPORT///////////////////////////////////////////////////////////////////////////////////////////////////////////////
  &-support{
    &-x1{
      background: url(../../i/social_media/illustrtae@2x.png) 0 0 no-repeat, radial-gradient(circle farthest-corner at right bottom, #0971ce 0%, #0862a5 28%, #10283f 79%, #0e1c2c 100%);
      background-size: cover;
      padding: 202px 0 100px;
      margin-bottom: 60px;
      text-align: center;
      color: white;
      position: relative;
      h2{
        color: white;
        font-size: 50px;
        margin-bottom: 14px;
        font-weight: 400;
      }
      h3{
        font-size: 25px;
        color: rgba(255,255,255,0.6);
        font-weight: normal;
      }
    }

    &-x2{
      padding-bottom: 23px;
      &-title{
        color: $color1;
        text-align: center;
        font-size: 27px;
        line-height: 40px;
        margin-bottom: 53px;
      }
      &-tabs{
        font-size: 0;
        &-tab{
          @extend .dibT;
          text-align: center;
          width: 20%;
          padding: 18px 0;
          font-size: 20px;
          color: $color1;
          border: 1px solid #EBEBEB;
          border-left: 0;
          cursor: pointer;
          margin-bottom: 50px;
          &:first-child{
            border: 1px solid #EBEBEB;
          }
          &.active{
            background: #EBEBEB;
          }
        }

        &-content{
          font-size: 0;
          &-wrap{
            font-size: 16px;
          }
          &-item{
            @extend .dibT;
            width: 50%;
            font-size: 16px;
            margin-bottom: 20px;
            padding: 0 30px 0 0;
            h2{
              font-size: 24px;
              font-weight: normal;
              color: $color1;
              margin-bottom: 20px;
            }
            p{
              font-size: 16px;
              line-height: 21px;
              color: $color1;
              text-align: justify;
            }
          }
        }
      }
    }

    &-x3{
      padding: 64px 0;
      &-title{
        font-size: 35px;
        line-height: 40px;
        text-align: center;
        margin-bottom: 30px;
        b{
          font-weight: 500;
          display: block;
          margin-bottom: 8px;
        }
      }
    }
  }
//PRICING///////////////////////////////////////////////////////////////////////////////////////////////////////////////
  &-pricing{
    &-x1{
      font-size: 0;
      margin-bottom: 95px;
      &-item{
        @extend .dibT;
        width: 33.3333%;
        font-size: 16px;
        padding: 0 15px;
        &:nth-child(1){.sk-pricing-x1-item-title{background: #5397FA;}}
        &:nth-child(2){.sk-pricing-x1-item-title{background: #447DD0;}}
        &:nth-child(3){.sk-pricing-x1-item-title{background: #335FA0;}}
        &-img{
          display: block;
          margin: 0 auto 43px;
          height: 150px;
          vertical-align: bottom;
        }

        &-title{
          width: 100%;
          height: 60px;
          line-height: 64px;
          text-align: center;
          font-size: 24px;
          color: #fff;
          text-transform: uppercase;
          font-weight: 500;
          margin-bottom: 20px;
        }

        &-price{
          text-align: center;
          font-size: 23px;
          text-transform: uppercase;
          margin-bottom: 20px;
          sup{
            font-size: 23px;
            position: relative;
            top: -8px;
            font-weight: bold;
            color: $color1;
            margin-right: 5px;
          }
          b{
            font-size: 47px;
          }
        }

        &-row{
          border-top: 1px solid #EBEBEB;
          padding: 26px 0;
          &:last-child{
            border-bottom: 1px solid #EBEBEB;
          }
          h2{
            font-size: 18px;
            font-weight: normal;
            text-transform: uppercase;
            span{
              float: right;
              text-transform: initial;
              font-weight: bold;
              font-size: 23px;
              margin-top: -4px;
              b{
                font-size: 14px;
                font-weight: normal;
              }
            }
          }
          h3{
            margin-top: 5px;
            text-align: right;
            font-size: 13px;
            font-weight: normal;
          }
          h4{
            font-weight: normal;
            font-size: 15px;
          }
        }

        &-btn{
          cursor: pointer;
          width: 100%;
          padding: 14px 0;
          text-transform: uppercase;
          font-size: 14px;
          margin-top: 40px;
          border: 2px solid #5397FA;
          border-radius: 6px;
          background: #fff;
          box-shadow: 0 5px 23px -7px #000;
          &:hover{opacity: .6;}
          &:active{box-shadow: none;opacity: 1;transform: scale(0.9)}

          &_w220{
            width: 220px;
            margin: 0 auto;
          }
        }
      }
    }
  }
//ABOUT/////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  &-about{
    background: #F9F9F9;
    &-x1{
      padding-bottom: 120px;
      &-subTitle{
        font-size: 25px;
        text-align: center;
        font-weight: normal;
        margin-bottom: 5px;
        color: $color2;
      }
      &-title{
        font-size: 36px;
        text-align: center;
        font-weight: normal;
      }
      &-item{
        width: 300px;
        background: white;
        padding: 20px;
        margin: 40px 10px 0;
        &:nth-child(1) h2{color: #FAECBB;border-bottom: 1px solid #FAECBB;}
        &:nth-child(2) h2{color: #CED093;border-bottom: 1px solid #CED093;}
        &:nth-child(3) h2{color: #94B9AD;border-bottom: 1px solid #94B9AD;}
        h2{
          font-size: 20px;
          font-weight: normal;
          text-align: center;
          padding-bottom: 20px;
          margin-bottom: 20px;
        }
        p{
          font-size: 16px;
          line-height: 22px;
          color: $color4;
        }
      }

      &-text{
        width: 730px;
        margin: 46px auto 0;
        line-height: 20px;
        a{
          margin-top: 22px;
          color: $color3;
          display: block;
          text-align: center;
          text-decoration: none;
        }
      }
    }

    &-x2{
      font-size: 0;
      overflow: hidden;
      white-space: nowrap;
      &-img{
        //transition: all 50s linear;
      }
    }

    &-x3{
      background: $color4;
      font-size: 0;
      padding: 58px 0 64px;
      &-title{
        color: #fff;
        font-size: 34px;
        font-weight: 400;
        margin-bottom: 10px;
      }
      &-text{
        font-size: 16px;
        font-weight: normal;
        margin-bottom: 25px;
        color: #B6B6B6;
      }
      &-link{
        color: white;
        text-decoration: none;
        font-size: 15px;
        margin-bottom: 22px;
        display: inline-block;
      }
      &-job{
        @extend .dibT;
        width: 50%;
        font-size: 16px;
        color: white;
        h2{
          margin: 64px 0 28px;
          text-transform: uppercase;
          font-weight: 400;
          font-size: 26px;
        }
        h3{
          font-size: 24px;
          font-weight: 400;
          margin-bottom: 5px;
        }
        h4{
          font-size: 16px;
          font-weight: 400;
          margin-bottom: 25px;
        }
      }
    }

    &-x4{
      padding: 110px 0 65px;
      font-size: 0;
      &-left{
        @extend .dibM;
        width: 34%;
        font-size: 16px;
        &-num{
          text-align: center;
          font-size: 190px;
          line-height: 190px;
          color: #A1ADBA;
          text-shadow: 10px 24px 44px rgba(0, 0, 0, 0.2);
          font-weight: 700;
          letter-spacing: -10px;
        }
        h1{
          font-size: 34px;
          font-weight: normal;
          margin-bottom: 84px;
        }
        h2{
          font-size: 22px;
          text-transform: uppercase;
          font-weight: normal;
          color: $color2;
          margin-bottom: 2px;
        }
        h3{
          font-size: 26px;
          font-weight: normal;
          margin-bottom: 46px;
        }
      }
      &-right{
        @extend .dibM;
        width: 66%;
        position: relative;
        font-size: 16px;
        .sk-about-x1-subTitle, .sk-about-x1-title{text-align: left;}
        .sk-about-x1-subTitle{
          font-size: 22px;
          margin-bottom: 15px;
        }
        .sk-about-x1-title{
          margin-bottom: 22px;
        }
        p{
          font-size: 16px;
          line-height: 22px;
          text-align: justify;
          color: $color2;
          margin-bottom: 13px;
        }

        #map{
          height: 260px;
          margin-top: 15px;
        }
        &-title{
          background: #494949;
          color: #fff;
          font-size: 14px;
          line-height: 20px;
          padding: 16px 27px;
        }
      }
    }

    &-x5{
      padding: 82px 0 100px;
      text-align: center;
      &-item{
        @extend .dibT;
        margin: 60px 8px 0;
        &-box{
          width: 260px;
          height: 260px;
          border-radius: 5px;
          border: 1px solid #969696;
          background: #D7D7D7;
          margin-bottom: 25px;
        }
        .sk-about-x1-title{
          font-size: 30px;
          font-weight: 500;
        }
        .sk-about-x1-title{
          font-size: 23px;
        }
      }
    }

    &-x6{
      margin: 105px auto 10px;
      font-size: 0;
    }
  }
//SUCCESS///////////////////////////////////////////////////////////////////////////////////////////////////////////////
  &-success{
    overflow: hidden;
    &-x1{
      background: url(../../i/social_media/illustrtae@2x.png) 0 0 no-repeat, radial-gradient(circle farthest-corner at right bottom, #0971ce 0%, #0862a5 28%, #10283f 79%, #0e1c2c 100%);
      background-size: cover;
      padding: 190px 0 122px;
      text-align: center;
      &-title{
        margin: 80px;
        font-size: 22px;
        color: white;
      }
    }
  }
}





@media all and (max-width: 1124px){
  .sk-home-x3-item-title {
    padding: 0 80px 0 0;
  }
}

@media all and (max-width: 768px){
  .sk-home-x3-item{
    width: 100%;
  }
  .sk-home-x3-modal {
    width: 90%;
    top: 29%;
    iframe{
      width: 100%;
    }
  }
}

@media all and (max-width: 480px){
  .sk-home-x3-modal {
    width: 80%;
  }
}













