<footer class="sk-footer">
    <div class="sk-wrap">
        <div class="sk-footer-item">
            <div class="sk-footer-item-title">quick link</div>

            <a href="#" class="sk-footer-item-link">Pricing</a>
            <a href="#" class="sk-footer-item-link">Join Us</a>
            <a href="#" class="sk-footer-item-link">About</a>
            <a href="#" class="sk-footer-item-link">Press</a>
            <a href="#" class="sk-footer-item-link">Support</a>
            <a href="#" class="sk-footer-item-link">Terms</a>
            <a href="#" class="sk-footer-item-link">Blog</a>
            <a href="#" class="sk-footer-item-link">Policies</a>
            <a href="#" class="sk-footer-item-link">Docs</a>
            <a href="#" class="sk-footer-item-link">Status</a>
        </div>


        <div class="sk-footer-item">
            <div class="sk-footer-item-title">quick link</div>
            <div class="sk-footer-item-subTitle">
                Be the first to know about new features, platform support, events and more!
            </div>
            <form class="sk-footer-item-form">
                <input type="text">
                <button>submit</button>
            </form>
        </div>

        <div class="sk-footer-item sk-footer-item_last">
            <img src="i/skylar_logo/skylar_logo_white.png" alt="">
            <h2>we're skylar labs</h2>
            <div class="sk-footer-item-title">stay connected</div>
            <div class="sk-footer-item-social">
                <a href=""><i class="fa fa-facebook-official"></i></a>
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-google-plus"></i></a>
                <a href=""><i class="fa fa-angellist"></i></a>
            </div>
        </div>
    </div>
    <div class="sk-footer-bottom">
        <span></span>
        <span></span>
        <span></span>
    </div>
</footer>