<footer class="sk-footer_v2">
    <div class="sk-wrap">
        <div class="sk-footer_v2-item">
            <a href="#" class="sk-footer_v2-item-link">Pricing</a>
            <a href="#" class="sk-footer_v2-item-link">About</a>
            <a href="#" class="sk-footer_v2-item-link">Support</a>
            <a href="#" class="sk-footer_v2-item-link">Join Us</a>
        </div>
        <div class="sk-footer_v2-item">
            <img src="i/skylar_logo/skylar_logo_white.png" alt="">
            <span>skylar</span>
        </div>
        <div class="sk-footer_v2-item">
            <a href="#" class="sk-footer_v2-item-link">Blog</a>
            <a href="#" class="sk-footer_v2-item-link">Terms</a>
            <a href="#" class="sk-footer_v2-item-link">Press</a>
            <a href="#" class="sk-footer_v2-item-link">Privacy</a>
        </div>
    </div>
</footer> 