<header class="sk-header" scroll-header>
    <a href="#/pricing" class="sk-header-link">pricing</a>
    <a href="#/about" class="sk-header-link">about</a>
    <a href="#/home" class="sk-header-logo"><img src="i/skylar_logo/skylar_logo@2x.png" alt=""></a>
    <a href="#/support" class="sk-header-link">support</a>
    <a href="#/blog" class="sk-header-link">blog</a>
</header>